In [1]:
# utilizo la libreria de pandas

import pandas as pd

In [2]:
# Guardo los datos del cvs en un data frame llamado df

df = pd.read_csv("C:\\Users\\anggl\\OneDrive\\Escritorio\\trabajo python\\Financiera_source.csv",low_memory=False)

In [3]:
# muestro la cantidad de filas y columnas

df.shape

(602364, 87)

In [4]:
# informacion de toda la base

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602364 entries, 0 to 602363
Data columns (total 87 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   TIPO DE ENTIDAD                           602364 non-null  object
 1   CODIGO DE LA  ENTIDAD                     567288 non-null  float64
 2   NOMBRE DE LA  ENTIDAD                     567288 non-null  object
 3   FECHA DE CORTE                            567288 non-null  object
 4   UNIDAD DE CAPTURA                         567288 non-null  float64
 5   DEPARTAMENTO                              567288 non-null  object
 6   RENGLON                                   567288 non-null  float64
 7   MUNICIPIO                                 567288 non-null  object
 8   TIPO                                      562849 non-null  object
 9   NRO CORRESPONSALES PROPIOS                567288 non-null  float64
 10  NRO CORRESPONSALES TERCERIZADOS           567288 non-null  float64
 11  NRO CORRESPONSALES ACTIVOS                567288 non-null  float64
 12  NRO CORRESPONSALES                        567288 non-null  float64
 13  NRO DEPOSITOS                             567288 non-null  float64
 14  MONTO DEPOSITOS                           567288 non-null  float64
 15  NRO GIROS ENVIADOS                        567288 non-null  float64
 16  MONTO GIROS ENVIADOS                      567288 non-null  float64
 17  NRO GIROS RECIBIDOS                       567288 non-null  float64
 18  MONTO GIROS RECIBIDOS                     567288 non-null  float64
 19  NRO PAGOS                                 567288 non-null  float64
 20  MONTO PAGOS                               567288 non-null  float64
 21  NRO RETIROS                               567288 non-null  float64
 22  MONTO RETIROS                             567288 non-null  float64
 23  NRO TRANSFERENCIAS                        567288 non-null  float64
 24  MONTO TRANSFERENCIAS                      567288 non-null  float64
 25  NRO TOTAL                                 567288 non-null  float64
 26  MONTO TOTAL                               567288 non-null  float64
 27  NRO CTA AHORRO HASTA 1 SMMLV              567288 non-null  float64
 28  SALDO CTA AHORRO HASTA 1 SMMLV            567288 non-null  float64
 29  NRO CTA AHORRO > 1 SMMLV HASTA 3 SMMLV    567288 non-null  float64
 30  SALDO CTA AHORRO> 1 SMMLV HASTA 3 SMMLV   567288 non-null  float64
 31  NRO CTA AHORRO> 3 SMMLV HASTA 5 SMMLV     567288 non-null  float64
 32  SALDO CTA AHORRO> 3 SMMLV HASTA 5 SMMLV   567288 non-null  float64
 33  NRO CTA AHORRO ACTIVAS                    567288 non-null  float64
 34  SALDO CTA AHORRO ACTIVAS                  567288 non-null  float64
 35  NRO CTA AHORRO MUJERES                    567288 non-null  float64
 36  SALDO CTA AHORRO MUJERES                  567288 non-null  float64
 37  NRO CTA AHORRO HOMBRES                    567288 non-null  float64
 38  SALDO CTA AHORRO HOMBRES                  567288 non-null  float64
 39  NRO TOTAL CTA AHORROS                     567288 non-null  float64
 40  SALDO TOTAL CTA AHORROS                   567288 non-null  float64
 41  NRO CTA AHORRO ELECTRONICAS ACTIVAS       567288 non-null  float64
 42  SALDO CTA AHORRO ELECTRONICAS ACTIVAS     567288 non-null  float64
 43  NRO CTA AHORRO ELECTRONICAS MUJERES       567288 non-null  float64
 44  SALDO CTA AHORRO ELECTRONICAS MUJERES     567288 non-null  float64
 45  NRO CTA AHORRO ELECTRONICAS HOMBRES       567288 non-null  float64
 46  SALDO CTA AHORRO ELECTRONICAS HOMBRES     567288 non-null  float64
 47  NRO TOTAL CTA AHORROS ELECTRONICAS        567288 non-null  float64
 48  SALDO TOTAL CTA AHORROS ELECTRONICAS      567288 non-null  float64
 49  NRO CREDITO CONSUMO MUJERES               567288 non-null  float64
 50  MONTO CREDITO CONSUMO MUJERES             567288 non-null  float64
 51  NRO CREDITO CONSUMO HOMBRES               567288 non-null  float64
 52  MONTO CREDITO CONSUMO  HOMBRES            567288 non-null  float64
 53  NRO TOTAL CREDITO CONSUMO                 567288 non-null  float64
 54  MONTO TOTAL CREDITO CONSUMO               567288 non-null  float64
 55  NRO CRED CONS BAJO MONTO MUJERES          567288 non-null  float64
 56  MONTO CRED CONS BAJO MONTO MUJERES        567288 non-null  float64
 57  NRO CRED CONS BAJO MONTO HOMBRES          567288 non-null  float64
 58  MONTO CRED CONS BAJO MONTO HOMBRES        567288 non-null  float64
 59  NRO TOTAL CRED CONS BAJO MONTO            567288 non-null  float64
 60  MONTO TOTAL CRED CONS BAJO MONTO          567288 non-null  float64
 61  NRO CREDITO VIVIENDA MUJERES              567288 non-null  float64
 62  MONTO CREDITO VIVIENDA MUJERES            567288 non-null  float64
 63  NRO CREDITO VIVIENDA HOMBRES              567288 non-null  float64
 64  MONTO CREDITO VIVIENDA HOMBRES            567288 non-null  float64
 65  NRO TOTAL CREDITO VIVIENDA                567288 non-null  float64
 66  MONTO TOTAL CREDITO VIVIENDA              567288 non-null  float64
 67  NRO MICROCREDITO HASTA 1 SMMLV            567288 non-null  float64
 68  MONTO MICROCREDITO HASTA 1 SMMLV          567288 non-null  float64
 69  NRO MICROCREDITO > 1 SMMLV HASTA 2 SMMLV  567288 non-null  float64
 70  MONTO MICROCREDITO> 1SMMLV HASTA 2SMMLV   567288 non-null  float64
 71  NRO MICROCREDITO> 2 SMMLV HASTA 3 SMMLV   567288 non-null  float64
 72  MONTO MICROCREDITO> 2SMMLV HASTA 3SMMLV   567288 non-null  float64
 73  NRO MICROCREDITO> 3 SMMLV HASTA 4 SMMLV   567288 non-null  float64
 74  MONTO MICROCREDITO> 3SMMLV HASTA 4SMMLV   567288 non-null  float64
 75  NRO MICROCREDITO> 4 SMMLV HASTA 10 SMMLV  567288 non-null  float64
 76  MONTO MICROCREDITO> 4SMMLV HASTA 10SMML   567288 non-null  float64
 77  NRO MICROCREDITO> 10SMMLV HASTA 25SMMLV   567288 non-null  float64
 78  MONTO MICROCREDI> 10SMMLV HASTA 25SMMLV   567288 non-null  float64
 79  NRO MICROCREDITO MUJERES                  567288 non-null  float64
 80  MONTO MICROCREDITO MUJERES                567288 non-null  float64
 81  NRO MICROCREDITO HOMBRES                  567288 non-null  float64
 82  MONTO MICROCREDITO HOMBRES                567288 non-null  float64
 83  NRO TOTAL MICROCREDITO                    567288 non-null  float64
 84  MONTO TOTAL MICROCREDITO                  567288 non-null  float64
 85  NRO PROD DEPOSITO NIVEL NACIONAL          567288 non-null  float64
 86  MONTO PROD DEPOSITO NIVEL NACIONAL        567288 non-null  float64
dtypes: float64(81), object(6)
memory usage: 399.8+ MB

In [5]:
# muestra los primeros 5 y los primeros ultimos 5
df

,TIPO DE ENTIDAD,CODIGO DE LA ENTIDAD,NOMBRE DE LA ENTIDAD,FECHA DE CORTE,UNIDAD DE CAPTURA,DEPARTAMENTO,RENGLON,MUNICIPIO,TIPO,NRO CORRESPONSALES PROPIOS,...,NRO MICROCREDITO> 10SMMLV HASTA 25SMMLV,MONTO MICROCREDI> 10SMMLV HASTA 25SMMLV,NRO MICROCREDITO MUJERES,MONTO MICROCREDITO MUJERES,NRO MICROCREDITO HOMBRES,MONTO MICROCREDITO HOMBRES,NRO TOTAL MICROCREDITO,MONTO TOTAL MICROCREDITO,NRO PROD DEPOSITO NIVEL NACIONAL,MONTO PROD DEPOSITO NIVEL NACIONAL
0,1,39.0,Banco Davivienda,31/12/2017,1.0,ANTIOQUIA,847.0,URRAO,TRANS Y TRAMITES EN CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,9.0,Citibank,31/12/2017,1.0,ANTIOQUIA,209.0,CONCORDIA,TRANS Y TRAMITES EN CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1.0,Banco De Bogota,31/12/2017,1.0,ANTIOQUIA,360.0,ITAGUI,CREDITO DE VIVIENDA,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,58.0,Coopcentral,31/12/2017,1.0,ANTIOQUIA,1.0,MEDELLIN,MICROCREDITO,0.0,...,0.0,0.0,0.0,0.0,1.0,29000000.0,1.0,29000000.0,0.0,0.0
4,1,52.0,Bancamía S.A.,31/12/2017,1.0,ANTIOQUIA,649.0,SAN CARLOS,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602359,128,2.0,Pgde,31/03/2021,33.0,VICHADA,624.0,SANTA ROSALÍA,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602360,128,2.0,Pgde,31/03/2021,33.0,VICHADA,1.0,PUERTO CARRENO,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602361,128,1.0,Movii S.A.,31/03/2021,33.0,VICHADA,524.0,LA PRIMAVERA,TRANS Y TRAMITES EN CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602362,128,2.0,Pgde,31/03/2021,33.0,VICHADA,524.0,LA PRIMAVERA,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602363,128,2.0,Pgde,31/03/2021,33.0,VICHADA,999.0,TOTAL VICHADA,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# muestra las columnas que tiene ek archivo
df.columns

Index(['TIPO DE ENTIDAD', 'CODIGO DE LA  ENTIDAD', 'NOMBRE DE LA  ENTIDAD',
       'FECHA DE CORTE', 'UNIDAD DE CAPTURA', 'DEPARTAMENTO', 'RENGLON',
       'MUNICIPIO', 'TIPO', 'NRO CORRESPONSALES PROPIOS',
       'NRO CORRESPONSALES TERCERIZADOS', 'NRO CORRESPONSALES ACTIVOS',
       'NRO CORRESPONSALES', 'NRO DEPOSITOS', 'MONTO DEPOSITOS',
       'NRO GIROS ENVIADOS ', 'MONTO GIROS ENVIADOS ', 'NRO GIROS RECIBIDOS',
       'MONTO GIROS RECIBIDOS', 'NRO PAGOS', 'MONTO PAGOS', 'NRO RETIROS',
       'MONTO RETIROS', 'NRO TRANSFERENCIAS', 'MONTO TRANSFERENCIAS',
       'NRO TOTAL ', 'MONTO TOTAL', 'NRO CTA AHORRO HASTA 1 SMMLV',
       'SALDO CTA AHORRO HASTA 1 SMMLV',
       'NRO CTA AHORRO > 1 SMMLV HASTA 3 SMMLV',
       'SALDO CTA AHORRO> 1 SMMLV HASTA 3 SMMLV',
       'NRO CTA AHORRO> 3 SMMLV HASTA 5 SMMLV',
       'SALDO CTA AHORRO> 3 SMMLV HASTA 5 SMMLV', 'NRO CTA AHORRO ACTIVAS',
       'SALDO CTA AHORRO ACTIVAS', 'NRO CTA AHORRO MUJERES',
       'SALDO CTA AHORRO MUJERES', 'NRO CTA AHORRO HOMBRES',
       'SALDO CTA AHORRO HOMBRES', 'NRO TOTAL CTA AHORROS',
       'SALDO TOTAL CTA AHORROS', 'NRO CTA AHORRO ELECTRONICAS ACTIVAS',
       'SALDO CTA AHORRO ELECTRONICAS ACTIVAS',
       'NRO CTA AHORRO ELECTRONICAS MUJERES',
       'SALDO CTA AHORRO ELECTRONICAS MUJERES',
       'NRO CTA AHORRO ELECTRONICAS HOMBRES',
       'SALDO CTA AHORRO ELECTRONICAS HOMBRES',
       'NRO TOTAL CTA AHORROS ELECTRONICAS ',
       'SALDO TOTAL CTA AHORROS ELECTRONICAS ', 'NRO CREDITO CONSUMO MUJERES',
       'MONTO CREDITO CONSUMO MUJERES', 'NRO CREDITO CONSUMO HOMBRES',
       'MONTO CREDITO CONSUMO  HOMBRES', 'NRO TOTAL CREDITO CONSUMO',
       'MONTO TOTAL CREDITO CONSUMO', 'NRO CRED CONS BAJO MONTO MUJERES',
       'MONTO CRED CONS BAJO MONTO MUJERES',
       'NRO CRED CONS BAJO MONTO HOMBRES',
       'MONTO CRED CONS BAJO MONTO HOMBRES', 'NRO TOTAL CRED CONS BAJO MONTO',
       'MONTO TOTAL CRED CONS BAJO MONTO', 'NRO CREDITO VIVIENDA MUJERES',
       'MONTO CREDITO VIVIENDA MUJERES', 'NRO CREDITO VIVIENDA HOMBRES',
       'MONTO CREDITO VIVIENDA HOMBRES', 'NRO TOTAL CREDITO VIVIENDA',
       'MONTO TOTAL CREDITO VIVIENDA', 'NRO MICROCREDITO HASTA 1 SMMLV',
       'MONTO MICROCREDITO HASTA 1 SMMLV',
       'NRO MICROCREDITO > 1 SMMLV HASTA 2 SMMLV',
       'MONTO MICROCREDITO> 1SMMLV HASTA 2SMMLV',
       'NRO MICROCREDITO> 2 SMMLV HASTA 3 SMMLV',
       'MONTO MICROCREDITO> 2SMMLV HASTA 3SMMLV',
       'NRO MICROCREDITO> 3 SMMLV HASTA 4 SMMLV',
       'MONTO MICROCREDITO> 3SMMLV HASTA 4SMMLV',
       'NRO MICROCREDITO> 4 SMMLV HASTA 10 SMMLV',
       'MONTO MICROCREDITO> 4SMMLV HASTA 10SMML',
       'NRO MICROCREDITO> 10SMMLV HASTA 25SMMLV',
       'MONTO MICROCREDI> 10SMMLV HASTA 25SMMLV', 'NRO MICROCREDITO MUJERES',
       'MONTO MICROCREDITO MUJERES', 'NRO MICROCREDITO HOMBRES',
       'MONTO MICROCREDITO HOMBRES', 'NRO TOTAL MICROCREDITO ',
       'MONTO TOTAL MICROCREDITO', 'NRO PROD DEPOSITO NIVEL NACIONAL',
       'MONTO PROD DEPOSITO NIVEL NACIONAL'],
      dtype='object')

In [7]:

# aqui muestra los primero 10 registros de la base
df.head(10)

,TIPO DE ENTIDAD,CODIGO DE LA ENTIDAD,NOMBRE DE LA ENTIDAD,FECHA DE CORTE,UNIDAD DE CAPTURA,DEPARTAMENTO,RENGLON,MUNICIPIO,TIPO,NRO CORRESPONSALES PROPIOS,...,NRO MICROCREDITO> 10SMMLV HASTA 25SMMLV,MONTO MICROCREDI> 10SMMLV HASTA 25SMMLV,NRO MICROCREDITO MUJERES,MONTO MICROCREDITO MUJERES,NRO MICROCREDITO HOMBRES,MONTO MICROCREDITO HOMBRES,NRO TOTAL MICROCREDITO,MONTO TOTAL MICROCREDITO,NRO PROD DEPOSITO NIVEL NACIONAL,MONTO PROD DEPOSITO NIVEL NACIONAL
0,1,39.0,Banco Davivienda,31/12/2017,1.0,ANTIOQUIA,847.0,URRAO,TRANS Y TRAMITES EN CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,9.0,Citibank,31/12/2017,1.0,ANTIOQUIA,209.0,CONCORDIA,TRANS Y TRAMITES EN CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1.0,Banco De Bogota,31/12/2017,1.0,ANTIOQUIA,360.0,ITAGUI,CREDITO DE VIVIENDA,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,58.0,Coopcentral,31/12/2017,1.0,ANTIOQUIA,1.0,MEDELLIN,MICROCREDITO,0.0,...,0.0,0.0,0.0,0.0,1.0,29000000.0,1.0,29000000.0,0.0,0.0
4,1,52.0,Bancamía S.A.,31/12/2017,1.0,ANTIOQUIA,649.0,SAN CARLOS,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1,43.0,Banagrario,31/12/2017,1.0,ANTIOQUIA,665.0,SAN PEDRO DE URABA,CUENTAS DE AHORRO,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,"1,42,""Banco Colpatria - """"Scotiabank"""""",31/12/...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,1.0,Banco De Bogota,31/12/2017,1.0,ANTIOQUIA,585.0,PUERTO NARE(LAMAGDALENA,TRANS Y TRAMITES EN CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1,9.0,Citibank,31/12/2017,1.0,ANTIOQUIA,761.0,SOPETRAN,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1,2.0,Banco Popular,31/12/2017,1.0,ANTIOQUIA,154.0,CAUCASIA,TRANS Y TRAMITES EN CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Aqui muestra los valores de las ultimos registros de la base
df.tail(10)

,TIPO DE ENTIDAD,CODIGO DE LA ENTIDAD,NOMBRE DE LA ENTIDAD,FECHA DE CORTE,UNIDAD DE CAPTURA,DEPARTAMENTO,RENGLON,MUNICIPIO,TIPO,NRO CORRESPONSALES PROPIOS,...,NRO MICROCREDITO> 10SMMLV HASTA 25SMMLV,MONTO MICROCREDI> 10SMMLV HASTA 25SMMLV,NRO MICROCREDITO MUJERES,MONTO MICROCREDITO MUJERES,NRO MICROCREDITO HOMBRES,MONTO MICROCREDITO HOMBRES,NRO TOTAL MICROCREDITO,MONTO TOTAL MICROCREDITO,NRO PROD DEPOSITO NIVEL NACIONAL,MONTO PROD DEPOSITO NIVEL NACIONAL
602354,128,1.0,Movii S.A.,31/03/2021,33.0,VICHADA,999.0,TOTAL VICHADA,TRANS Y TRAMITES EN CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602355,128,1.0,Movii S.A.,31/03/2021,33.0,VICHADA,524.0,LA PRIMAVERA,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602356,128,4.0,Tecnipagos S.A.,31/03/2021,33.0,VICHADA,773.0,CUMARIBO,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602357,128,1.0,Movii S.A.,31/03/2021,33.0,VICHADA,1.0,PUERTO CARRENO,CORRESPONSALES,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602358,128,1.0,Movii S.A.,31/03/2021,33.0,VICHADA,624.0,SANTA ROSALÍA,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602359,128,2.0,Pgde,31/03/2021,33.0,VICHADA,624.0,SANTA ROSALÍA,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602360,128,2.0,Pgde,31/03/2021,33.0,VICHADA,1.0,PUERTO CARRENO,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602361,128,1.0,Movii S.A.,31/03/2021,33.0,VICHADA,524.0,LA PRIMAVERA,TRANS Y TRAMITES EN CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602362,128,2.0,Pgde,31/03/2021,33.0,VICHADA,524.0,LA PRIMAVERA,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602363,128,2.0,Pgde,31/03/2021,33.0,VICHADA,999.0,TOTAL VICHADA,CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# aqui se muetra la primera fila del archivo.
df.loc[0]

TIPO DE ENTIDAD                                      1
CODIGO DE LA  ENTIDAD                             39.0
NOMBRE DE LA  ENTIDAD                 Banco Davivienda
FECHA DE CORTE                              31/12/2017
UNIDAD DE CAPTURA                                  1.0
                                            ...
MONTO MICROCREDITO HOMBRES                         0.0
NRO TOTAL MICROCREDITO                             0.0
MONTO TOTAL MICROCREDITO                           0.0
NRO PROD DEPOSITO NIVEL NACIONAL                   0.0
MONTO PROD DEPOSITO NIVEL NACIONAL                 0.0
Name: 0, Length: 87, dtype: object

In [10]:
# aqui muestra las filas 7 y 10
df.loc[[7, 10]]

,TIPO DE ENTIDAD,CODIGO DE LA ENTIDAD,NOMBRE DE LA ENTIDAD,FECHA DE CORTE,UNIDAD DE CAPTURA,DEPARTAMENTO,RENGLON,MUNICIPIO,TIPO,NRO CORRESPONSALES PROPIOS,...,NRO MICROCREDITO> 10SMMLV HASTA 25SMMLV,MONTO MICROCREDI> 10SMMLV HASTA 25SMMLV,NRO MICROCREDITO MUJERES,MONTO MICROCREDITO MUJERES,NRO MICROCREDITO HOMBRES,MONTO MICROCREDITO HOMBRES,NRO TOTAL MICROCREDITO,MONTO TOTAL MICROCREDITO,NRO PROD DEPOSITO NIVEL NACIONAL,MONTO PROD DEPOSITO NIVEL NACIONAL
7,1,1.0,Banco De Bogota,31/12/2017,1.0,ANTIOQUIA,585.0,PUERTO NARE(LAMAGDALENA,TRANS Y TRAMITES EN CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1,13.0,Bbva Colombia,31/12/2017,1.0,ANTIOQUIA,86.0,BELMIRA,TRANS Y TRAMITES EN CORRESPONSALES,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Genero estadistica descriptiva para  las siguientes columnas de la base de datos 
# Hay 41 departamentos unicos en la base que estamos trabajando, lo que nos indica una amplia cobertura geografica amplia
# El departamento donde hay mayor frecuencia es en Antioquia, esto no indica que es el mas representado con 71,164 registros 

# DEPARTAMENTO

df.DEPARTAMENTO.describe()

count        567288
unique           41
top       ANTIOQUIA
freq          71164
Name: DEPARTAMENTO, dtype: object

In [ ]:
# El municipio con mayor frecuencia es la UNION 
# El municipio de la Union es el mas representado con 2.564
# MUNICIPIO	

df.MUNICIPIO.describe()

count       567288
unique        1148
top       LA UNION
freq          2564
Name: MUNICIPIO, dtype: object

In [ ]:

# Hay 14 fechas unicas en la base de datos, lo que sugiere que los datos se han recopilado en diferentes momentos de los cortes de cada entidad.
# La fecha de corte con mas frecuencia es 31/12/2020 con un total de registros de 53,490
# FECHA DE CORTE


df["FECHA DE CORTE"].describe()

count         567288
unique            14
top       31/12/2020
freq           53490
Name: FECHA DE CORTE, dtype: object

In [ ]:
# Hay 9 tipos de datos unicos en nuestra data frame, lo que nos puede indicar que existe una variedad de categorias en la inclusion financiera, por tanto, las personas usan mas los corresponsales
# Los corresponsales son los que tienen mayor frecuencia con 193,839 datos

# TIPO

df.TIPO.describe()

count             562849
unique                 9
top       CORRESPONSALES
freq              193839
Name: TIPO, dtype: object

In [ ]:
# La entidad Banagrario es la entidad mas frecuente, con 82,830 registros, indica que una sola institucion concentra una parte importante de los servicios financieros ofrecidos.
# NOMBRE DE LA ENTIDAD

df["NOMBRE DE LA  ENTIDAD"].describe()

count         567288
unique            50
top       Banagrario
freq           82830
Name: NOMBRE DE LA  ENTIDAD, dtype: object

In [ ]:
# La mayoria de los registros tienen 0 corresponsales, como se puede observar en los cuartiles y la mediana 	
# La alta desviacion estandar indica una gran dispersion: algunos registros tienen muchisimos corresponsales y otros muy pocos o ninguno.

#  NRO CORRESPONSALES

df["NRO CORRESPONSALES"].describe()

count    567288.000000
mean         16.819362
std         330.036774
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max       24242.000000
Name: NRO CORRESPONSALES, dtype: float64

In [ ]:
# Min/Existen registros sin ningun deposito
# el 50% de los registros tiene 0 depositos

# NRO DEPOSITOS

df["NRO DEPOSITOS"].describe()

count    5.672880e+05
mean     1.610787e+03
std      1.087334e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.400534e+07
Name: NRO DEPOSITOS, dtype: float64

In [ ]:
# La desviacion estandar es alta, lo que indica una gran desigualdad, donde algunos registros tienen muchisimos retiros y la mayoria tiene pocos o ninguno.

# NRO RETIROS

df["NRO RETIROS"].describe()

count    5.672880e+05
mean     1.895537e+03
std      1.215416e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.679901e+07
Name: NRO RETIROS, dtype: float64

In [ ]:
# En promedio, cada registro tiene cerca de 1,698 cuentas de ahorro activas
# El 75% tienen 0 cuentas de ahorro activas

# NRO CTA AHORRO ACTIVAS

df["NRO CTA AHORRO ACTIVAS"].describe()

count    5.672880e+05
mean     1.697758e+03
std      5.199760e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      8.696572e+06
Name: NRO CTA AHORRO ACTIVAS, dtype: float64

In [ ]:
# En el tercer cuartil el 75% de las mujeres no tiene cuentas de ahorro 

# NRO CTA AHORRO MUJERES

df["NRO CTA AHORRO MUJERES"].describe()

count    5.672880e+05
mean     1.927621e+03
std      4.775686e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.437975e+06
Name: NRO CTA AHORRO MUJERES, dtype: float64

In [ ]:
# La alta desviacion estandar y el valor maximo indican que, aunque algunos hombres tienen cuentas con saldos muy altos, la mayoria no tiene acceso a estos servicios.

# NRO CTA AHORRO HOMBRES

df["NRO CTA AHORRO HOMBRES"].describe()

count    5.672880e+05
mean     2.139007e+03
std      5.271020e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.601486e+06
Name: NRO CTA AHORRO HOMBRES, dtype: float64

In [ ]:
# Una gran parte de las mujeres no tiene creditos de consumo (mediana y cuartiles en 0) esto nos indica un acceso limitado a servicios financieros basicos

# NRO CREDITO CONSUMO MUJERES

df["NRO CREDITO CONSUMO MUJERES"].describe()

count    5.672880e+05
mean     9.940963e+02
std      5.233910e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      7.493971e+06
Name: NRO CREDITO CONSUMO MUJERES, dtype: float64

In [ ]:
#En comparacion con las mujeres, los hombres tienen un promedio mas alto en creditos en consumo con un valor de 998.1508 creditos de consumo   

# NRO CREDITO CONSUMO HOMBRES

df["NRO CREDITO CONSUMO HOMBRES"].describe()

count    5.672880e+05
mean     9.981508e+02
std      5.310778e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      8.228890e+06
Name: NRO CREDITO CONSUMO HOMBRES, dtype: float64

In [ ]:
# El 50% de los registros la (mediana) la mitad de las mujeres no tienen creditos de vivienda 

# NRO CREDITO VIVIENDA MUJERES

df["NRO CREDITO VIVIENDA MUJERES"].describe()

count    567288.000000
mean          1.433397
std          49.384651
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       10966.000000
Name: NRO CREDITO VIVIENDA MUJERES, dtype: float64

In [ ]:
# El primer cuartil, nos indica que el 25% de los registro es 0, lo que nos dice que el 25% no tienen credito

# NRO CREDITO VIVIENDA HOMBRES

df["NRO CREDITO VIVIENDA HOMBRES"].describe()

count    567288.000000
mean          1.588717
std          53.168218
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       10914.000000
Name: NRO CREDITO VIVIENDA HOMBRES, dtype: float64

In [ ]:
# El valor maximo nos indica algunos microcreditos con montos muy altos

# NRO MICROCREDITO HOMBRES

df["NRO MICROCREDITO HOMBRES"].describe()

count    567288.000000
mean         11.655159
std         378.874331
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       62082.000000
Name: NRO MICROCREDITO HOMBRES, dtype: float64

In [ ]:
# Las mujeres tienen un promedio mas alto que los hombres en microcreditos con 14,516

# NRO MICROCREDITO MUJERES

df["NRO MICROCREDITO MUJERES"].describe()

count    567288.000000
mean         14.516692
std         488.730347
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       78439.000000
Name: NRO MICROCREDITO MUJERES, dtype: float64

In [28]:
# Descripcion estadistica de Conteo, Promedio, Desviación Estándar, Valor Mínimo, Valor Máximo, Mediana, Moda, Percentil 25%, para las siguientes columnas

In [ ]:
# 567,288 (número de corresponsales analizados) del cual se hace un conteo de la columna
# Conteo de NRO CORRESPONSALES

df["NRO CORRESPONSALES"].count()

567288

In [ ]:
# En promedio hay 16.819 corresponsales
# Promedio de NRO CORRESPONSALES 

df["NRO CORRESPONSALES"].mean()

16.819361594110926

In [ ]:
# Esto nos indica una variabilidad en los corresponsales, donde hay areas con muchos corresponsales y otras en pocos
# Desviación Estándar de NRO CORRESPONSALES 
df["NRO CORRESPONSALES"].std()

330.03677400024395

In [ ]:
# Esto nos indica que hay lugares donde no hay corresponsales (0)
# Valor Mínimo de NRO CORRESPONSALES  
df["NRO CORRESPONSALES"].min()

0.0

In [ ]:
# Esto nos indica que hay una alta disponibilidad  de corresponsales en diferentes regiones 
# Valor Máximo de NRO CORRESPONSALES 
df["NRO CORRESPONSALES"].max()

24242.0

In [ ]:
# Esto nos indica que el 50% de las areas no tiene corresponsales 
# Mediana de NRO CORRESPONSALES 
df["NRO CORRESPONSALES"].median()

0.0

In [ ]:
# Es nos indica que la mayoria de las regiones no tienen corresponsales 
# Moda de NRO CORRESPONSALES  
df["NRO CORRESPONSALES"].mode()

0    0.0
Name: NRO CORRESPONSALES, dtype: float64

In [ ]:
# El 25% de las regiones no tiene corresponsales
# Percentil 25% de NRO CORRESPONSALES 
df["NRO CORRESPONSALES"].quantile(0.25)

0.0

In [ ]:
# 567,288 (número de depósitos analizados) del cual se hace un conteo de la columna
# Conteo de NRO DEPOSITOS

df["NRO DEPOSITOS"].count()

567288

In [ ]:
# El promedio de los depositos nos indica que hay una cantidad significativa de depositos 
# Promedio de NRO DEPOSITOS
 
df["NRO DEPOSITOS"].mean()

1610.787332007728

In [ ]:
# La alta desviacíon estandar nos indica una alta variabilidad en el numero de depositos
# Desviación Estándar de NRO DEPOSITOS

df["NRO DEPOSITOS"].std()

108733.38318471979

In [ ]:
# Nos indica que hay partes donde no se han realizado depósitos
# Valor Mínimo de NRO DEPOSITOS 

df["NRO DEPOSITOS"].min()

0.0

In [ ]:
# Estos no dice que hay lugares donde hay una alta cantidad de depósitos, esto nos indica que algunas partes tiene un acceso amplio a servicios financieros para realizar depósitos
# Valor Máximo de NRO DEPOSITOS
df["NRO DEPOSITOS"].max()

34005336.0

In [ ]:
# Estos nos indica que la mitad de los lugares no tienen depósitos
# Mediana de NRO DEPOSITOS

df["NRO DEPOSITOS"].median()

0.0

In [ ]:
# Nos indica que en la mayoria de departamentos no tienen depósitos
# Moda de NRO DEPOSITOS 
df["NRO DEPOSITOS"].mode()

0    0.0
Name: NRO DEPOSITOS, dtype: float64

In [ ]:
# El primer cuartil nos indica que el 25% de las regiones no tiene depósitos
# Percentil 25% de NRO DEPOSITOS 

df["NRO DEPOSITOS"].quantile(0.25)

0.0

In [ ]:
# 567,288 (número de retiros analizados) del cual se hace un conteo de la columna
# Conteo de NRO RETIROS

df["NRO RETIROS"].count()

567288

In [ ]:
# Podemos indicar que hay una cantidad significativa de retiros por cada departamento
# Promedio de NRO RETIROS 

df["NRO RETIROS"].mean()

1895.536507029939

In [ ]:
# La alta desviacion estandar nos indica que hay una gran variabilidad en el acceso a retiros, donde hay lugares teniendo muchos retiros y otras poco
# Desviación Estándar de NRO RETIROS
df["NRO RETIROS"].std()

121541.62771519471

In [ ]:
# Nos indica que hay lugares donde no se han hecho retiros
# Valor Mínimo de NRO RETIROS 
df["NRO RETIROS"].min()

0.0

In [ ]:
# Esto representa que hay lugares con una gran cantidad de retiros
# Valor Máximo de NRO RETIROS
df["NRO RETIROS"].max()

36799009.0

In [ ]:
# Esto nos indica que la mayoria de las regiones no tienen retiros
# Moda de NRO RETIROS 
df["NRO RETIROS"].mode()

0    0.0
Name: NRO RETIROS, dtype: float64

In [ ]:
# El 25% de las regiones no tienen retiros 
# Percentil 25% de NRO RETIROS 
df["NRO RETIROS"].quantile(0.25)

0.0

In [ ]:
#número de cuentas de ahorro activas analizadas del cual se hace un conteo de la columna
# Conteo de NRO CTA AHORRO ACTIVAS
df["NRO CTA AHORRO ACTIVAS"].count()

567288

In [ ]:
#nos indica que hay 1697.76 de cuentas de ahorro activas
# Promedio de NRO CTA AHORRO ACTIVAS 
df["NRO CTA AHORRO ACTIVAS"].mean()

1697.7576081284992

In [ ]:
# muestra una alta variabilidad en el numero de cuentas de ahorro activas en los departamentos 
# Desviación Estándar de NRO CTA AHORRO ACTIVAS
df["NRO CTA AHORRO ACTIVAS"].std()

51997.60329056358

In [ ]:
#Este nos indica que hay departamentos en Colombia donde no se han registrado cuentas de ahorro activas
# Valor Mínimo de NRO CTA AHORRO ACTIVAS 
df["NRO CTA AHORRO ACTIVAS"].min()

0.0

In [ ]:
# El 50% de los departamentos no hay cuentas de ahorro activas
# Mediana de NRO CTA AHORRO ACTIVAS
df["NRO CTA AHORRO ACTIVAS"].median()

0.0

In [ ]:
#Esto nos indica que hay departamentos con un numero alto de cuentas de ahorro activas
# Valor Máximo de NRO CTA AHORRO ACTIVAS
df["NRO CTA AHORRO ACTIVAS"].max()

8696572.0

In [ ]:
# Esto nos indica que muchos departamentos no tienen cuentas de ahorro activas registradas
# Moda de NRO CTA AHORRO ACTIVAS 
df["NRO CTA AHORRO ACTIVAS"].mode()

0    0.0
Name: NRO CTA AHORRO ACTIVAS, dtype: float64

In [ ]:
# El 25% de los departamentos no tiene cuentas de ahorro activas
# Percentil 25% de NRO CTA AHORRO ACTIVAS 
df["NRO CTA AHORRO ACTIVAS"].quantile(0.25)

0.0

In [ ]:
# número de cuentas de ahorro de mujeres analizadas del cual se hace un conteo de la columna
# Conteo de NRO CTA AHORRO MUJERES 
df["NRO CTA AHORRO MUJERES"].count()

567288

In [ ]:
# El promedio de 1927.62 cuentas de ahorro activas para mujeres indica que hay una participación significativa de mujeres en el sistema financiero.
# Promedio de NRO CTA AHORRO MUJERES 
df["NRO CTA AHORRO MUJERES"].mean()

1927.6207455472352

In [ ]:
# Nos indica que hay una gran variabilidad en el numero de cuentas de ahorro activas para mujeres
# Desviación Estándar de NRO CTA AHORRO MUJERES
df["NRO CTA AHORRO MUJERES"].std()

47756.86465441504

In [ ]:
# Esto nos indica que hay departamentos en Colombia donde no se ha registrado cuentas de ahorro para mujeres 
# Valor Mínimo de NRO CTA AHORRO MUJERES 
df["NRO CTA AHORRO MUJERES"].min()

0.0

In [ ]:
# El 50% de los departamentos no tiene cuentas de ahorro para mujeres
# Mediana de NRO CTA AHORRO MUJERES
df["NRO CTA AHORRO MUJERES"].median()

0.0

In [ ]:
# Esto nos indica que hay departamentos en Colombia con un numero muy alto de cuentas de ahorro para mujeres
# Valor Máximo de NRO CTA AHORRO MUJERES
df["NRO CTA AHORRO MUJERES"].max()

5437975.0

In [ ]:
# Esto nos indica que el valor más frecuente en la columna es 0, esto nos dice que muchos departamentos no tienen cuentas de ahorro para mujeres registradas
# Moda de NRO CTA AHORRO MUJERES 
df["NRO CTA AHORRO MUJERES"].mode()

0    0.0
Name: NRO CTA AHORRO MUJERES, dtype: float64

In [ ]:
# El 25% de los departamentos no tiene cuentas de ahorro para mujeres
# Percentil 25% de NRO CTA AHORRO MUJERES 
df["NRO CTA AHORRO MUJERES"].quantile(0.25)

0.0

In [ ]:
# número de cuentas de ahorro de hombres analizadas del cual se hace un conteo de la columna
# Conteo de NRO CTA AHORRO HOMBRES
df["NRO CTA AHORRO HOMBRES"].count()

567288

In [ ]:
# Esto nos indica que el promedio en los hombres es mayor al de las mujeres en las cuentas de ahorro
# Promedio de NRO CTA AHORRO HOMBRES 
df["NRO CTA AHORRO HOMBRES"].mean()

2139.006724097813

In [ ]:
# La desviación estándar para hombres es mayor que el de las mujeres, indicando una mayor dispersión en el número de cuentas de ahorro entre los hombres	
# Desviación Estándar de NRO CTA AHORRO HOMBRES
df["NRO CTA AHORRO HOMBRES"].std()

52710.1977598154

In [ ]:
# Esto nos indica que hay departamentos en Colombia donde no se ha registrado cuentas de ahorro para hombres 
# Valor Mínimo de NRO CTA AHORRO HOMBRES 
df["NRO CTA AHORRO HOMBRES"].min()

0.0

In [ ]:
# El 50% de los departamentos no tiene cuentas de ahorro para hombres
# Mediana de NRO CTA AHORRO HOMBRES
df["NRO CTA AHORRO HOMBRES"].median()

0.0

In [ ]:
# En comparación con las mujeres los hombres tienen un valor maximo superior 
# Valor Máximo de NRO CTA AHORRO HOMBRES
df["NRO CTA AHORRO HOMBRES"].max()

5601486.0

In [ ]:
# Este nos indica que muchos departamentos no tienen cuentas de ahorro para hombres 
# Moda de NRO CTA AHORRO HOMBRES 
df["NRO CTA AHORRO HOMBRES"].mode()

0    0.0
Name: NRO CTA AHORRO HOMBRES, dtype: float64

In [ ]:
# El 25% de los departamentos no tienen cuentas de ahorro para hombres 
# Percentil 25% de NRO CTA AHORRO HOMBRES 
df["NRO CTA AHORRO HOMBRES"].quantile(0.25)

0.0

In [ ]:
# Número de cuentas de ahorro de hombres  analizadas del cual se hace un conteo de la columna
# Conteo de NRO CREDITO CONSUMO MUJERES
df["NRO CREDITO CONSUMO MUJERES"].count()

567288

In [ ]:
# Nos indica que hay una participación significativa de mujeres en el acceso a creditos de consumo
# Promedio de NRO CREDITO CONSUMO MUJERES 
df["NRO CREDITO CONSUMO MUJERES"].mean()

994.0962914780499

In [ ]:
# La alta desviación estándar nos indica grandes diferencias en el acceso y uso de créditos de consumo entre las mujeres en diferentes departamentos.
# Desviación Estándar de NRO CREDITO CONSUMO MUJERES
df["NRO CREDITO CONSUMO MUJERES"].std()

52339.104346209264

In [ ]:
# Esto nos indica que hay departamentos en Colombia donde no se ha registrado creditos de consumo para mujeres
# Valor Mínimo de NRO CREDITO CONSUMO MUJERES 
df["NRO CREDITO CONSUMO MUJERES"].min()

0.0

In [ ]:
# Esto nos indica que el 50% de los departamentos no tiene creditos de consumo de mujeres
# Mediana de NRO CREDITO CONSUMO MUJERES
df["NRO CREDITO CONSUMO MUJERES"].median()

0.0

In [ ]:
# Nos indica que hay departamentos que cuentan con un numero muy alto de creditos de consumo para mujeres 
# Valor Máximo de NRO CREDITO CONSUMO MUJERES
df["NRO CREDITO CONSUMO MUJERES"].max()

7493971.0

In [ ]:
# Este nos indica que muchos departamentos no tienen numero de credito de consumo de mujeres
# Moda de NRO CREDITO CONSUMO MUJERES 
df["NRO CREDITO CONSUMO MUJERES"].mode()

0    0.0
Name: NRO CREDITO CONSUMO MUJERES, dtype: float64

In [ ]:
# El primer cuartil indica que, el 25% de los departamentos tienen 0 creditos de consumo para mujeres
# Percentil 25% de NRO CREDITO CONSUMO MUJERES 
df["NRO CREDITO CONSUMO MUJERES"].quantile(0.25)

0.0

In [ ]:
# Número de creditos de consumo para hombres analizadas, del cual se hace un conteo de la columna
# Conteo de NRO CREDITO CONSUMO HOMBRES
df["NRO CREDITO CONSUMO HOMBRES"].count()

567288

In [ ]:
# Los hombres tienen un promedio mayor de creditos de consumo en comparacion de las mujeres
# Promedio de NRO CREDITO CONSUMO HOMBRES 
df["NRO CREDITO CONSUMO HOMBRES"].mean()

998.1507699792697

In [ ]:
# La desviación estándar para hombres es mayor que para mujeres, indicando una mayor dispersión en el número de créditos de consumo entre los hombres
# Desviación Estándar de NRO CREDITO CONSUMO HOMBRES
df["NRO CREDITO CONSUMO HOMBRES"].std()

53107.78077016288

In [ ]:
# Tantos las mujeres como los hombres no tienen registrados creditos de consumo 
# Valor Mínimo de NRO CREDITO CONSUMO HOMBRES 
df["NRO CREDITO CONSUMO HOMBRES"].min()

0.0

In [ ]:
# El 50% de los departamentos no tienen creditos de consumo para hombres
# Mediana de NRO CREDITO CONSUMO HOMBRES
df["NRO CREDITO CONSUMO HOMBRES"].median()

0.0

In [ ]:
# Esto nos indica que hay departamentos que cuentan con un numero muy alto de creditos de consumo para hombres
# Valor Máximo de NRO CREDITO CONSUMO HOMBRES
df["NRO CREDITO CONSUMO HOMBRES"].max()

8228890.0

In [ ]:
# Esto nos indica que, la mayoria de hombres no tienen creditos de consumo
# Moda de NRO CREDITO CONSUMO HOMBRES 
df["NRO CREDITO CONSUMO HOMBRES"].mode()

0    0.0
Name: NRO CREDITO CONSUMO HOMBRES, dtype: float64

In [ ]:
# El 25% de los creditos de consumo para hombres es 0
# Percentil 25% de NRO CREDITO CONSUMO HOMBRES 
df["NRO CREDITO CONSUMO HOMBRES"].quantile(0.25)

0.0

In [ ]:
#  Número de creditos de vivienda para mujeres analizadas del cual se hace un conteo de la columna
# Conteo de NRO CREDITO VIVIENDA MUJERES
df["NRO CREDITO VIVIENDA MUJERES"].count()

567288

In [ ]:
# Un promedio de 1.43 indica que, en la muestra analizada, las mujeres tienen en promedio más de un crédito de vivienda
# Promedio de NRO CREDITO VIVIENDA MUJERES 
df["NRO CREDITO VIVIENDA MUJERES"].mean()

1.4333971457178718

In [ ]:
# Esto nos indica una variabilidad considerable en diferentes departamentos en los creditos de vivienda para mujeres
# Desviación Estándar de NRO CREDITO VIVIENDA MUJERES
df["NRO CREDITO VIVIENDA MUJERES"].std()

49.38465126140556

In [ ]:
# Esto nos indica que hay departamentos donde no han registrado creditos de vivienda para mujeres
# Valor Mínimo de NRO CREDITO VIVIENDA MUJERES 
df["NRO CREDITO VIVIENDA MUJERES"].min()

0.0

In [ ]:
# Esto no indica que, el 50% de los departamentos no tiene creditos de vivienda para mujeres
# Mediana de NRO CREDITO VIVIENDA MUJERES
df["NRO CREDITO VIVIENDA MUJERES"].median()

0.0

In [ ]:
# Esto no dice que algunos departamentos se han registrado una cantidad significante de creditos de vivienda a mujeres
# Valor Máximo de NRO CREDITO VIVIENDA MUJERES
df["NRO CREDITO VIVIENDA MUJERES"].max()

10966.0

In [ ]:
# Indica que en muchos departamentos no se encuentran registrados creditos de vivienda en mujeres
# Moda de NRO CREDITO VIVIENDA MUJERES 
df["NRO CREDITO VIVIENDA MUJERES"].mode()

0    0.0
Name: NRO CREDITO VIVIENDA MUJERES, dtype: float64

In [ ]:
# El 25% de los departamentos no tiene creditos de vivienda para mujeres
# Percentil 25% de NRO CREDITO VIVIENDA MUJERES 
df["NRO CREDITO VIVIENDA MUJERES"].quantile(0.25)

0.0

In [ ]:
# Número de creditos de vivienda para hombres analizadas, del cual se hace un conteo de la columna
# Conteo de NRO CREDITO VIVIENDA HOMBRES
df["NRO CREDITO VIVIENDA HOMBRES"].count()

567288

In [ ]:
# El promedio del número de créditos de vivienda registrado a hombres es 1.59
# Promedio de NRO CREDITO VIVIENDA HOMBRES 
df["NRO CREDITO VIVIENDA HOMBRES"].mean()

1.588716842238863

In [ ]:
# La desviación estándar del número de créditos de vivienda otorgados a hombres es 53.17. Esto indica una variabilidad significativa en los creditos de vivienda para los hombres
# Desviación Estándar de NRO CREDITO VIVIENDA HOMBRES
df["NRO CREDITO VIVIENDA HOMBRES"].std()

53.16821782770966

In [ ]:
# Esto nos indica que en algunos departamentos no se han otorgados creditos de vivienda a hombres
# Valor Mínimo de NRO CREDITO VIVIENDA HOMBRES 
df["NRO CREDITO VIVIENDA HOMBRES"].min()

0.0

In [ ]:
# El 50% de los departamentos no se han otorgado credito de vivienda para hombres
# Mediana de NRO CREDITO VIVIENDA HOMBRES
df["NRO CREDITO VIVIENDA HOMBRES"].median()

0.0

In [ ]:
# Esto indica que en algunos departamentos se han otorgado una cantidad significativa de créditos de vivienda a hombres.
# Valor Máximo de NRO CREDITO VIVIENDA HOMBRES
df["NRO CREDITO VIVIENDA HOMBRES"].max()

10914.0

In [ ]:
# Esto nos dice que en muchos departamentos no se han otorgado créditos de vivienda para hombres.
# Moda de NRO CREDITO VIVIENDA HOMBRES 
df["NRO CREDITO VIVIENDA HOMBRES"].mode()

0    0.0
Name: NRO CREDITO VIVIENDA HOMBRES, dtype: float64

In [ ]:
# El 25% de los departamentos no se ha otorgado creditos de vivienda para hombres
# Percentil 25% de NRO CREDITO VIVIENDA HOMBRES 
df["NRO CREDITO VIVIENDA HOMBRES"].quantile(0.25)

0.0

In [108]:
#  valores únicos de la columna DEPARTAMENTO
df.DEPARTAMENTO.unique()

array(['ANTIOQUIA', nan, 'ATLANTICO', 'CALDAS', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CUNDINAMARCA', 'CAQUETA', 'CAUCA', 'CESAR', 'CORDOBA',
       'MAGDALENA', 'CHOCO', 'HUILA', 'LA GUAJIRA', 'RISARALDA', 'META',
       'NARIﾑO', 'NARIÑO', 'NORTE DE SANTANDER', 'QUINDIO', 'TOLIMA',
       'SANTANDER', 'SUCRE', 'VALLE DEL CAUCA', 'ARAUCA', 'CASANARE',
       'PUTUMAYO', 'AMAZONAS', 'GUAINIA', 'GUAVIARE', 'VAUPES', 'VICHADA',
       'TOTAL NACIONAL', 'CORRESPONSALES TIPO NEGOCIO',
       'AGREGADORES DE CORRESPONSALES', 'DEPOSITOS DINERO ELECTRONICO',
       'DEPOSITOS DINERO ELECT TRAMITE SIMPLIFI', 'CUENTAS DE AHORRO',
       'CUENTAS DE AHORRO TRAMITE SIMPLIFICADO',
       'CUENTAS DE AHORRO ELECTRONICAS'], dtype=object)

In [109]:
#  valores únicos de la columna MUNICIPIO
df.MUNICIPIO.unique()

array(['URRAO', 'CONCORDIA', 'ITAGUI', ..., 'TOTAL GUAINÍA',
       'TOTAL VAUPÉS', 'SANTA ROSALÍA'], dtype=object)

In [110]:
#  valores únicos de la columna FECHA DE CORTE
df["FECHA DE CORTE"].unique()

array(['31/12/2017', nan, '31/03/2018', '30/06/2018', '30/09/2018',
       '31/12/2018', '31/03/2019', '30/06/2019', '30/09/2019',
       '31/12/2019', '31/03/2020', '30/06/2020', '30/09/2020',
       '31/12/2020', '31/03/2021'], dtype=object)

In [111]:
#  valores únicos de la columna TIPO
df.TIPO.unique()

array(['TRANS Y TRAMITES EN CORRESPONSALES', 'CREDITO DE VIVIENDA',
       'MICROCREDITO', 'CORRESPONSALES', 'CUENTAS DE AHORRO', nan,
       'CREDITO DE CONSUMO', 'MICROCREDITO POR RANGO',
       'CUENTAS DE AHORRO ELECTRONICAS', 'CREDITO DE CONSUMO BAJO MONTO'],
      dtype=object)

In [112]:
#  valores únicos de la columna NOMBRE DE LA  ENTIDAD
df["NOMBRE DE LA  ENTIDAD"].unique()

array(['Banco Davivienda', 'Citibank', 'Banco De Bogota', 'Coopcentral',
       'Bancamía S.A.', 'Banagrario', nan, 'Banco Popular',
       'Bbva Colombia', 'Bancolombia', 'Mibanco S.A.',
       'Banco Caja Social', 'Banco De Occidente', 'Av Villas',
       'Banco W S.A.', 'Bancoomeva', 'Banco Falabella S.A.',
       'Banco Pichincha S.A.', 'Itau', 'Multibank', 'Banco Gnb Sudameris',
       'Finandina', 'Giros & Finanzas C.F.', 'C.A. Credifinanciera Cf',
       'Tuya', 'Credifamilia', 'Coltefinanciera', 'Banco Serfinanza S.A.',
       'Serfinansa', 'Banco Credifinanciera S.A.', 'Corficolombiana S.A.',
       'Rci Colombia S.A.',
       'Financiera Pagos Internacionales S.A. Compa\ue168a De Financiamiento',
       'Financiera Juriscoop C.F.', 'Arco Grupo Bancoldex',
       'Leasing Corficolombiana', 'Financiera Dann Regional',
       'Cooperativa Financiera De Antioquia',
       'Jfk Cooperativa Financiera', 'Confiar Cooperativa Financiera',
       'Cotrafa Financiera', 'Coofinep Cooperativa Financiera',
       'Movii S.A.', 'Pgde', 'Coink S.A.', 'Tecnipagos S.A.',
       'Banco Mundo Mujer S.A.', 'Banco Santander', 'Bnp Paribas',
       'La Hipotecaria',
       'Gm Financial Colombia S.A. Compañía De Financiamiento'],
      dtype=object)