In [91]:
# utilizo la libreria de pandas

import pandas as pd

In [92]:
# Guardo los datos del cvs en un data frame llamado df

df = pd.read_csv("C:\\Users\\anggl\\OneDrive\\Escritorio\\trabajo python\\Financiera.csv")

In [93]:
# muestro la cantidad de filas y columnas

df.shape

(603232, 87)

In [94]:
# informacion de toda la base

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603232 entries, 0 to 603231
Data columns (total 87 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   TIPO DE ENTIDAD                           603232 non-null  int64
 1   CODIGO DE LA  ENTIDAD                     603232 non-null  int64
 2   NOMBRE DE LA  ENTIDAD                     603232 non-null  object
 3   FECHA DE CORTE                            603232 non-null  object
 4   UNIDAD DE CAPTURA                         603232 non-null  int64
 5   DEPARTAMENTO                              603232 non-null  object
 6   RENGLON                                   603232 non-null  int64
 7   MUNICIPIO                                 603232 non-null  object
 8   TIPO                                      598100 non-null  object
 9   NRO CORRESPONSALES PROPIOS                603232 non-null  int64
 10  NRO CORRESPONSALES TERCERIZADOS           603232 non-null  int64
 11  NRO CORRESPONSALES ACTIVOS                603232 non-null  int64
 12  NRO CORRESPONSALES                        603232 non-null  int64
 13  NRO DEPOSITOS                             603232 non-null  int64
 14  MONTO DEPOSITOS                           603232 non-null  float64
 15  NRO GIROS ENVIADOS                        603232 non-null  int64
 16  MONTO GIROS ENVIADOS                      603232 non-null  int64
 17  NRO GIROS RECIBIDOS                       603232 non-null  int64
 18  MONTO GIROS RECIBIDOS                     603232 non-null  int64
 19  NRO PAGOS                                 603232 non-null  float64
 20  MONTO PAGOS                               603232 non-null  float64
 21  NRO RETIROS                               603232 non-null  int64
 22  MONTO RETIROS                             603232 non-null  float64
 23  NRO TRANSFERENCIAS                        603232 non-null  int64
 24  MONTO TRANSFERENCIAS                      603232 non-null  int64
 25  NRO TOTAL                                 603232 non-null  float64
 26  MONTO TOTAL                               603232 non-null  float64
 27  NRO CTA AHORRO HASTA 1 SMMLV              603232 non-null  float64
 28  SALDO CTA AHORRO HASTA 1 SMMLV            603232 non-null  float64
 29  NRO CTA AHORRO > 1 SMMLV HASTA 3 SMMLV    603232 non-null  float64
 30  SALDO CTA AHORRO> 1 SMMLV HASTA 3 SMMLV   603232 non-null  float64
 31  NRO CTA AHORRO> 3 SMMLV HASTA 5 SMMLV     603232 non-null  float64
 32  SALDO CTA AHORRO> 3 SMMLV HASTA 5 SMMLV   603232 non-null  float64
 33  NRO CTA AHORRO ACTIVAS                    603232 non-null  int64
 34  SALDO CTA AHORRO ACTIVAS                  603232 non-null  float64
 35  NRO CTA AHORRO MUJERES                    603232 non-null  float64
 36  SALDO CTA AHORRO MUJERES                  603232 non-null  float64
 37  NRO CTA AHORRO HOMBRES                    603232 non-null  float64
 38  SALDO CTA AHORRO HOMBRES                  603232 non-null  float64
 39  NRO TOTAL CTA AHORROS                     603232 non-null  float64
 40  SALDO TOTAL CTA AHORROS                   603232 non-null  float64
 41  NRO CTA AHORRO ELECTRONICAS ACTIVAS       603232 non-null  int64
 42  SALDO CTA AHORRO ELECTRONICAS ACTIVAS     603232 non-null  float64
 43  NRO CTA AHORRO ELECTRONICAS MUJERES       603232 non-null  int64
 44  SALDO CTA AHORRO ELECTRONICAS MUJERES     603232 non-null  float64
 45  NRO CTA AHORRO ELECTRONICAS HOMBRES       603232 non-null  int64
 46  SALDO CTA AHORRO ELECTRONICAS HOMBRES     603232 non-null  float64
 47  NRO TOTAL CTA AHORROS ELECTRONICAS        603232 non-null  int64
 48  SALDO TOTAL CTA AHORROS ELECTRONICAS      603232 non-null  float64
 49  NRO CREDITO CONSUMO MUJERES               603232 non-null  int64
 50  MONTO CREDITO CONSUMO MUJERES             603232 non-null  float64
 51  NRO CREDITO CONSUMO HOMBRES               603232 non-null  int64
 52  MONTO CREDITO CONSUMO  HOMBRES            603232 non-null  float64
 53  NRO TOTAL CREDITO CONSUMO                 603232 non-null  int64
 54  MONTO TOTAL CREDITO CONSUMO               603232 non-null  float64
 55  NRO CRED CONS BAJO MONTO MUJERES          603232 non-null  int64
 56  MONTO CRED CONS BAJO MONTO MUJERES        603232 non-null  int64
 57  NRO CRED CONS BAJO MONTO HOMBRES          603232 non-null  int64
 58  MONTO CRED CONS BAJO MONTO HOMBRES        603232 non-null  int64
 59  NRO TOTAL CRED CONS BAJO MONTO            603232 non-null  int64
 60  MONTO TOTAL CRED CONS BAJO MONTO          603232 non-null  int64
 61  NRO CREDITO VIVIENDA MUJERES              603232 non-null  int64
 62  MONTO CREDITO VIVIENDA MUJERES            603232 non-null  float64
 63  NRO CREDITO VIVIENDA HOMBRES              603232 non-null  int64
 64  MONTO CREDITO VIVIENDA HOMBRES            603232 non-null  float64
 65  NRO TOTAL CREDITO VIVIENDA                603232 non-null  int64
 66  MONTO TOTAL CREDITO VIVIENDA              603232 non-null  float64
 67  NRO MICROCREDITO HASTA 1 SMMLV            603232 non-null  int64
 68  MONTO MICROCREDITO HASTA 1 SMMLV          603232 non-null  float64
 69  NRO MICROCREDITO > 1 SMMLV HASTA 2 SMMLV  603232 non-null  int64
 70  MONTO MICROCREDITO> 1SMMLV HASTA 2SMMLV   603232 non-null  float64
 71  NRO MICROCREDITO> 2 SMMLV HASTA 3 SMMLV   603232 non-null  int64
 72  MONTO MICROCREDITO> 2SMMLV HASTA 3SMMLV   603232 non-null  float64
 73  NRO MICROCREDITO> 3 SMMLV HASTA 4 SMMLV   603232 non-null  int64
 74  MONTO MICROCREDITO> 3SMMLV HASTA 4SMMLV   603232 non-null  float64
 75  NRO MICROCREDITO> 4 SMMLV HASTA 10 SMMLV  603232 non-null  int64
 76  MONTO MICROCREDITO> 4SMMLV HASTA 10SMML   603232 non-null  float64
 77  NRO MICROCREDITO> 10SMMLV HASTA 25SMMLV   603232 non-null  int64
 78  MONTO MICROCREDI> 10SMMLV HASTA 25SMMLV   603232 non-null  float64
 79  NRO MICROCREDITO MUJERES                  603232 non-null  int64
 80  MONTO MICROCREDITO MUJERES                603232 non-null  float64
 81  NRO MICROCREDITO HOMBRES                  603232 non-null  int64
 82  MONTO MICROCREDITO HOMBRES                603232 non-null  float64
 83  NRO TOTAL MICROCREDITO                    603232 non-null  int64
 84  MONTO TOTAL MICROCREDITO                  603232 non-null  float64
 85  NRO PROD DEPOSITO NIVEL NACIONAL          603232 non-null  float64
 86  MONTO PROD DEPOSITO NIVEL NACIONAL        603232 non-null  float64
dtypes: float64(40), int64(42), object(5)
memory usage: 400.4+ MB

In [95]:
# muestra los primeros 5 y los primeros ultimos 5
df

,TIPO DE ENTIDAD,CODIGO DE LA ENTIDAD,NOMBRE DE LA ENTIDAD,FECHA DE CORTE,UNIDAD DE CAPTURA,DEPARTAMENTO,RENGLON,MUNICIPIO,TIPO,NRO CORRESPONSALES PROPIOS,...,NRO MICROCREDITO> 10SMMLV HASTA 25SMMLV,MONTO MICROCREDI> 10SMMLV HASTA 25SMMLV,NRO MICROCREDITO MUJERES,MONTO MICROCREDITO MUJERES,NRO MICROCREDITO HOMBRES,MONTO MICROCREDITO HOMBRES,NRO TOTAL MICROCREDITO,MONTO TOTAL MICROCREDITO,NRO PROD DEPOSITO NIVEL NACIONAL,MONTO PROD DEPOSITO NIVEL NACIONAL
0,1,39,Banco Davivienda,31/12/2017,1,ANTIOQUIA,847,URRAO,TRANS Y TRAMITES EN CORRESPONSALES,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.000000e+00
1,1,9,Citibank,31/12/2017,1,ANTIOQUIA,209,CONCORDIA,TRANS Y TRAMITES EN CORRESPONSALES,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.000000e+00
2,1,1,Banco De Bogota,31/12/2017,1,ANTIOQUIA,360,ITAGUI,CREDITO DE VIVIENDA,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.000000e+00
3,1,58,Coopcentral,31/12/2017,1,ANTIOQUIA,1,MEDELLIN,MICROCREDITO,0,...,0,0.0,0,0.0,1,29000000.0,1,29000000.0,0.0,0.000000e+00
4,1,52,Bancamía S.A.,31/12/2017,1,ANTIOQUIA,649,SAN CARLOS,CORRESPONSALES,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603227,1,49,Av Villas,31/03/2021,41,CUENTAS DE AHORRO ELECTRONICAS,15,RETIROS,NaN,0,...,0,0.0,0,0.0,0,0.0,0,0.0,5.0,5.600000e+05
603228,1,43,Banagrario,31/03/2021,41,CUENTAS DE AHORRO ELECTRONICAS,10,PAGOS,NaN,0,...,0,0.0,0,0.0,0,0.0,0,0.0,267902.0,2.402198e+11
603229,1,43,Banagrario,31/03/2021,41,CUENTAS DE AHORRO ELECTRONICAS,20,TRANSFERENCIAS ENVIADAS,NaN,0,...,0,0.0,0,0.0,0,0.0,0,0.0,146.0,4.552784e+07
603230,1,43,Banagrario,31/03/2021,41,CUENTAS DE AHORRO ELECTRONICAS,25,TRANSFERENCIAS RECIBIDAS,NaN,0,...,0,0.0,0,0.0,0,0.0,0,0.0,532.0,2.137011e+08
603231,1,43,Banagrario,31/03/2021,41,CUENTAS DE AHORRO ELECTRONICAS,15,RETIROS,NaN,0,...,0,0.0,0,0.0,0,0.0,0,0.0,7552.0,2.097551e+09

In [96]:
# muestra las columnas que tenga el archivo
df.columns

Index(['TIPO DE ENTIDAD', 'CODIGO DE LA  ENTIDAD', 'NOMBRE DE LA  ENTIDAD',
       'FECHA DE CORTE', 'UNIDAD DE CAPTURA', 'DEPARTAMENTO', 'RENGLON',
       'MUNICIPIO', 'TIPO', 'NRO CORRESPONSALES PROPIOS',
       'NRO CORRESPONSALES TERCERIZADOS', 'NRO CORRESPONSALES ACTIVOS',
       'NRO CORRESPONSALES', 'NRO DEPOSITOS', 'MONTO DEPOSITOS',
       'NRO GIROS ENVIADOS ', 'MONTO GIROS ENVIADOS ', 'NRO GIROS RECIBIDOS',
       'MONTO GIROS RECIBIDOS', 'NRO PAGOS', 'MONTO PAGOS', 'NRO RETIROS',
       'MONTO RETIROS', 'NRO TRANSFERENCIAS', 'MONTO TRANSFERENCIAS',
       'NRO TOTAL ', 'MONTO TOTAL', 'NRO CTA AHORRO HASTA 1 SMMLV',
       'SALDO CTA AHORRO HASTA 1 SMMLV',
       'NRO CTA AHORRO > 1 SMMLV HASTA 3 SMMLV',
       'SALDO CTA AHORRO> 1 SMMLV HASTA 3 SMMLV',
       'NRO CTA AHORRO> 3 SMMLV HASTA 5 SMMLV',
       'SALDO CTA AHORRO> 3 SMMLV HASTA 5 SMMLV', 'NRO CTA AHORRO ACTIVAS',
       'SALDO CTA AHORRO ACTIVAS', 'NRO CTA AHORRO MUJERES',
       'SALDO CTA AHORRO MUJERES', 'NRO CTA AHORRO HOMBRES',
       'SALDO CTA AHORRO HOMBRES', 'NRO TOTAL CTA AHORROS',
       'SALDO TOTAL CTA AHORROS', 'NRO CTA AHORRO ELECTRONICAS ACTIVAS',
       'SALDO CTA AHORRO ELECTRONICAS ACTIVAS',
       'NRO CTA AHORRO ELECTRONICAS MUJERES',
       'SALDO CTA AHORRO ELECTRONICAS MUJERES',
       'NRO CTA AHORRO ELECTRONICAS HOMBRES',
       'SALDO CTA AHORRO ELECTRONICAS HOMBRES',
       'NRO TOTAL CTA AHORROS ELECTRONICAS ',
       'SALDO TOTAL CTA AHORROS ELECTRONICAS ', 'NRO CREDITO CONSUMO MUJERES',
       'MONTO CREDITO CONSUMO MUJERES', 'NRO CREDITO CONSUMO HOMBRES',
       'MONTO CREDITO CONSUMO  HOMBRES', 'NRO TOTAL CREDITO CONSUMO',
       'MONTO TOTAL CREDITO CONSUMO', 'NRO CRED CONS BAJO MONTO MUJERES',
       'MONTO CRED CONS BAJO MONTO MUJERES',
       'NRO CRED CONS BAJO MONTO HOMBRES',
       'MONTO CRED CONS BAJO MONTO HOMBRES', 'NRO TOTAL CRED CONS BAJO MONTO',
       'MONTO TOTAL CRED CONS BAJO MONTO', 'NRO CREDITO VIVIENDA MUJERES',
       'MONTO CREDITO VIVIENDA MUJERES', 'NRO CREDITO VIVIENDA HOMBRES',
       'MONTO CREDITO VIVIENDA HOMBRES', 'NRO TOTAL CREDITO VIVIENDA',
       'MONTO TOTAL CREDITO VIVIENDA', 'NRO MICROCREDITO HASTA 1 SMMLV',
       'MONTO MICROCREDITO HASTA 1 SMMLV',
       'NRO MICROCREDITO > 1 SMMLV HASTA 2 SMMLV',
       'MONTO MICROCREDITO> 1SMMLV HASTA 2SMMLV',
       'NRO MICROCREDITO> 2 SMMLV HASTA 3 SMMLV',
       'MONTO MICROCREDITO> 2SMMLV HASTA 3SMMLV',
       'NRO MICROCREDITO> 3 SMMLV HASTA 4 SMMLV',
       'MONTO MICROCREDITO> 3SMMLV HASTA 4SMMLV',
       'NRO MICROCREDITO> 4 SMMLV HASTA 10 SMMLV',
       'MONTO MICROCREDITO> 4SMMLV HASTA 10SMML',
       'NRO MICROCREDITO> 10SMMLV HASTA 25SMMLV',
       'MONTO MICROCREDI> 10SMMLV HASTA 25SMMLV', 'NRO MICROCREDITO MUJERES',
       'MONTO MICROCREDITO MUJERES', 'NRO MICROCREDITO HOMBRES',
       'MONTO MICROCREDITO HOMBRES', 'NRO TOTAL MICROCREDITO ',
       'MONTO TOTAL MICROCREDITO', 'NRO PROD DEPOSITO NIVEL NACIONAL',
       'MONTO PROD DEPOSITO NIVEL NACIONAL'],
      dtype='object')

In [97]:
df_cleaned = df.drop(columns=["TIPO DE ENTIDAD","CODIGO DE LA  ENTIDAD","UNIDAD DE CAPTURA","RENGLON","TIPO","NRO CORRESPONSALES PROPIOS","NRO CORRESPONSALES TERCERIZADOS","NRO CORRESPONSALES ACTIVOS","NRO GIROS ENVIADOS ","MONTO GIROS ENVIADOS ","NRO GIROS RECIBIDOS","MONTO GIROS RECIBIDOS","NRO PAGOS","MONTO PAGOS","NRO TRANSFERENCIAS","MONTO TRANSFERENCIAS","MONTO TRANSFERENCIAS","NRO TOTAL ","MONTO TOTAL","NRO CTA AHORRO HASTA 1 SMMLV","SALDO CTA AHORRO HASTA 1 SMMLV","NRO CTA AHORRO > 1 SMMLV HASTA 3 SMMLV","SALDO CTA AHORRO> 1 SMMLV HASTA 3 SMMLV","NRO CTA AHORRO> 3 SMMLV HASTA 5 SMMLV","SALDO CTA AHORRO> 3 SMMLV HASTA 5 SMMLV","NRO TOTAL CTA AHORROS","SALDO TOTAL CTA AHORROS","NRO CTA AHORRO ELECTRONICAS ACTIVAS","SALDO CTA AHORRO ELECTRONICAS ACTIVAS","NRO CTA AHORRO ELECTRONICAS MUJERES","SALDO CTA AHORRO ELECTRONICAS MUJERES","NRO CTA AHORRO ELECTRONICAS HOMBRES","SALDO CTA AHORRO ELECTRONICAS HOMBRES","NRO TOTAL CTA AHORROS ELECTRONICAS ","SALDO TOTAL CTA AHORROS ELECTRONICAS ","NRO TOTAL CREDITO CONSUMO","NRO TOTAL CREDITO CONSUMO","MONTO TOTAL CREDITO CONSUMO","NRO CRED CONS BAJO MONTO MUJERES","MONTO CRED CONS BAJO MONTO MUJERES","NRO CRED CONS BAJO MONTO HOMBRES","MONTO CRED CONS BAJO MONTO HOMBRES","NRO TOTAL CRED CONS BAJO MONTO","MONTO TOTAL CRED CONS BAJO MONTO","NRO TOTAL CREDITO VIVIENDA","MONTO TOTAL CREDITO VIVIENDA","NRO MICROCREDITO HASTA 1 SMMLV","MONTO MICROCREDITO HASTA 1 SMMLV","NRO MICROCREDITO > 1 SMMLV HASTA 2 SMMLV","MONTO MICROCREDITO> 1SMMLV HASTA 2SMMLV","NRO MICROCREDITO> 2 SMMLV HASTA 3 SMMLV","MONTO MICROCREDITO> 2SMMLV HASTA 3SMMLV","NRO MICROCREDITO> 3 SMMLV HASTA 4 SMMLV","MONTO MICROCREDITO> 3SMMLV HASTA 4SMMLV","NRO MICROCREDITO> 4 SMMLV HASTA 10 SMMLV","MONTO MICROCREDITO> 4SMMLV HASTA 10SMML","NRO MICROCREDITO> 10SMMLV HASTA 25SMMLV","MONTO MICROCREDI> 10SMMLV HASTA 25SMMLV","NRO TOTAL MICROCREDITO ","NRO PROD DEPOSITO NIVEL NACIONAL","MONTO PROD DEPOSITO NIVEL NACIONAL","MONTO TOTAL MICROCREDITO","MUNICIPIO"])

In [98]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603232 entries, 0 to 603231
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NOMBRE DE LA  ENTIDAD           603232 non-null  object
 1   FECHA DE CORTE                  603232 non-null  object
 2   DEPARTAMENTO                    603232 non-null  object
 3   NRO CORRESPONSALES              603232 non-null  int64
 4   NRO DEPOSITOS                   603232 non-null  int64
 5   MONTO DEPOSITOS                 603232 non-null  float64
 6   NRO RETIROS                     603232 non-null  int64
 7   MONTO RETIROS                   603232 non-null  float64
 8   NRO CTA AHORRO ACTIVAS          603232 non-null  int64
 9   SALDO CTA AHORRO ACTIVAS        603232 non-null  float64
 10  NRO CTA AHORRO MUJERES          603232 non-null  float64
 11  SALDO CTA AHORRO MUJERES        603232 non-null  float64
 12  NRO CTA AHORRO HOMBRES          603232 non-null  float64
 13  SALDO CTA AHORRO HOMBRES        603232 non-null  float64
 14  NRO CREDITO CONSUMO MUJERES     603232 non-null  int64
 15  MONTO CREDITO CONSUMO MUJERES   603232 non-null  float64
 16  NRO CREDITO CONSUMO HOMBRES     603232 non-null  int64
 17  MONTO CREDITO CONSUMO  HOMBRES  603232 non-null  float64
 18  NRO CREDITO VIVIENDA MUJERES    603232 non-null  int64
 19  MONTO CREDITO VIVIENDA MUJERES  603232 non-null  float64
 20  NRO CREDITO VIVIENDA HOMBRES    603232 non-null  int64
 21  MONTO CREDITO VIVIENDA HOMBRES  603232 non-null  float64
 22  NRO MICROCREDITO MUJERES        603232 non-null  int64
 23  MONTO MICROCREDITO MUJERES      603232 non-null  float64
 24  NRO MICROCREDITO HOMBRES        603232 non-null  int64
 25  MONTO MICROCREDITO HOMBRES      603232 non-null  float64
dtypes: float64(13), int64(10), object(3)
memory usage: 119.7+ MB

In [99]:
# Para cambiar el nombre de una columna se utilizo .rename()
# inplace=True se utilizo para que el cambio se realice directamente en el DataFrame sin tener que asignar el resultado a una nueva variable.

df_cleaned.rename(columns={'NOMBRE DE LA  ENTIDAD': 'NOMBRE_DE_LA_ENTIDAD'}, inplace=True)
df_cleaned.rename(columns={'FECHA DE CORTE': 'FECHA_DE_CORTE'}, inplace=True)
df_cleaned.rename(columns={'DEPARTAMENTO': 'DEPARTAMENTO'}, inplace=True)
df_cleaned.rename(columns={'NRO CORRESPONSALES': 'NRO_CORRESPONSALES'}, inplace=True)
df_cleaned.rename(columns={'NRO DEPOSITOS': 'NRO_DEPOSITOS'}, inplace=True)
df_cleaned.rename(columns={'MONTO DEPOSITOS': 'MONTO_DEPOSITOS'}, inplace=True)
df_cleaned.rename(columns={'NRO RETIROS': 'NRO_RETIROS'}, inplace=True)
df_cleaned.rename(columns={'MONTO RETIROS': 'MONTO_RETIROS'}, inplace=True)
df_cleaned.rename(columns={'NRO CTA AHORRO ACTIVAS': 'NRO_CTA_AHORRO_ACTIVAS'}, inplace=True)
df_cleaned.rename(columns={'SALDO CTA AHORRO ACTIVAS': 'SALDO_CTA_AHORRO_ACTIVAS'}, inplace=True)
df_cleaned.rename(columns={'NRO CTA AHORRO MUJERES': 'NRO_CTA_AHORRO_MUJERES'}, inplace=True)
df_cleaned.rename(columns={'SALDO CTA AHORRO MUJERES': 'SALDO_CTA_AHORRO_MUJERES'}, inplace=True)
df_cleaned.rename(columns={'NRO CTA AHORRO HOMBRES': 'NRO_CTA_AHORRO_HOMBRES'}, inplace=True)
df_cleaned.rename(columns={'SALDO CTA AHORRO HOMBRES': 'SALDO_CTA_AHORRO_HOMBRES'}, inplace=True)
df_cleaned.rename(columns={'NRO CREDITO CONSUMO MUJERES': 'NRO_CREDITO_CONSUMO_MUJERES'}, inplace=True)
df_cleaned.rename(columns={'MONTO CREDITO CONSUMO MUJERES': 'MONTO_CREDITO_CONSUMO_MUJERES'}, inplace=True)
df_cleaned.rename(columns={'NRO CREDITO CONSUMO HOMBRES': 'NRO_CREDITO_CONSUMO_HOMBRES'}, inplace=True)
df_cleaned.rename(columns={'MONTO CREDITO CONSUMO  HOMBRES': 'MONTO_CREDITO_CONSUMO_HOMBRES'}, inplace=True)
df_cleaned.rename(columns={'NRO CREDITO VIVIENDA MUJERES': 'NRO_CREDITO_VIVIENDA_MUJERES'}, inplace=True)
df_cleaned.rename(columns={'MONTO CREDITO VIVIENDA MUJERES': 'MONTO_CREDITO_VIVIENDA_MUJERES'}, inplace=True)
df_cleaned.rename(columns={'NRO CREDITO VIVIENDA HOMBRES': 'NRO_CREDITO_VIVIENDA_HOMBRES'}, inplace=True)
df_cleaned.rename(columns={'MONTO CREDITO VIVIENDA HOMBRES': 'MONTO_CREDITO_VIVIENDA_HOMBRES'}, inplace=True)
df_cleaned.rename(columns={'NRO MICROCREDITO MUJERES': 'NRO_MICROCREDITO_MUJERES'}, inplace=True)
df_cleaned.rename(columns={'MONTO MICROCREDITO MUJERES': 'MONTO_MICROCREDITO_MUJERES'}, inplace=True)
df_cleaned.rename(columns={'NRO MICROCREDITO HOMBRES': 'NRO_MICROCREDITO_HOMBRES'}, inplace=True)
df_cleaned.rename(columns={'MONTO MICROCREDITO HOMBRES': 'MONTO_MICROCREDITO_HOMBRES'}, inplace=True)

In [100]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603232 entries, 0 to 603231
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NOMBRE_DE_LA_ENTIDAD            603232 non-null  object
 1   FECHA_DE_CORTE                  603232 non-null  object
 2   DEPARTAMENTO                    603232 non-null  object
 3   NRO_CORRESPONSALES              603232 non-null  int64
 4   NRO_DEPOSITOS                   603232 non-null  int64
 5   MONTO_DEPOSITOS                 603232 non-null  float64
 6   NRO_RETIROS                     603232 non-null  int64
 7   MONTO_RETIROS                   603232 non-null  float64
 8   NRO_CTA_AHORRO_ACTIVAS          603232 non-null  int64
 9   SALDO_CTA_AHORRO_ACTIVAS        603232 non-null  float64
 10  NRO_CTA_AHORRO_MUJERES          603232 non-null  float64
 11  SALDO_CTA_AHORRO_MUJERES        603232 non-null  float64
 12  NRO_CTA_AHORRO_HOMBRES          603232 non-null  float64
 13  SALDO_CTA_AHORRO_HOMBRES        603232 non-null  float64
 14  NRO_CREDITO_CONSUMO_MUJERES     603232 non-null  int64
 15  MONTO_CREDITO_CONSUMO_MUJERES   603232 non-null  float64
 16  NRO_CREDITO_CONSUMO_HOMBRES     603232 non-null  int64
 17  MONTO_CREDITO_CONSUMO_HOMBRES   603232 non-null  float64
 18  NRO_CREDITO_VIVIENDA_MUJERES    603232 non-null  int64
 19  MONTO_CREDITO_VIVIENDA_MUJERES  603232 non-null  float64
 20  NRO_CREDITO_VIVIENDA_HOMBRES    603232 non-null  int64
 21  MONTO_CREDITO_VIVIENDA_HOMBRES  603232 non-null  float64
 22  NRO_MICROCREDITO_MUJERES        603232 non-null  int64
 23  MONTO_MICROCREDITO_MUJERES      603232 non-null  float64
 24  NRO_MICROCREDITO_HOMBRES        603232 non-null  int64
 25  MONTO_MICROCREDITO_HOMBRES      603232 non-null  float64
dtypes: float64(13), int64(10), object(3)
memory usage: 119.7+ MB

In [101]:
# muestro la cantidad de filas y columnas con las quedo la base de datos

df_cleaned.shape

(603232, 26)

In [102]:

# Número de columnas antes de eliminar

df.shape[1]

87

In [103]:
# Número de columnas después de eliminar

df_cleaned.shape[1]

26

In [104]:
# Calcular cuántas columnas fueron eliminadas

df.shape[1] - df_cleaned.shape[1]

61

In [105]:
# tipo de datos
print(df_cleaned.dtypes)

NOMBRE_DE_LA_ENTIDAD               object
FECHA_DE_CORTE                     object
DEPARTAMENTO                       object
NRO_CORRESPONSALES                  int64
NRO_DEPOSITOS                       int64
MONTO_DEPOSITOS                   float64
NRO_RETIROS                         int64
MONTO_RETIROS                     float64
NRO_CTA_AHORRO_ACTIVAS              int64
SALDO_CTA_AHORRO_ACTIVAS          float64
NRO_CTA_AHORRO_MUJERES            float64
SALDO_CTA_AHORRO_MUJERES          float64
NRO_CTA_AHORRO_HOMBRES            float64
SALDO_CTA_AHORRO_HOMBRES          float64
NRO_CREDITO_CONSUMO_MUJERES         int64
MONTO_CREDITO_CONSUMO_MUJERES     float64
NRO_CREDITO_CONSUMO_HOMBRES         int64
MONTO_CREDITO_CONSUMO_HOMBRES     float64
NRO_CREDITO_VIVIENDA_MUJERES        int64
MONTO_CREDITO_VIVIENDA_MUJERES    float64
NRO_CREDITO_VIVIENDA_HOMBRES        int64
MONTO_CREDITO_VIVIENDA_HOMBRES    float64
NRO_MICROCREDITO_MUJERES            int64
MONTO_MICROCREDITO_MUJERES        float64
NRO_MICROCREDITO_HOMBRES            int64
MONTO_MICROCREDITO_HOMBRES        float64
dtype: object

In [106]:
# # Ajuste de tipos de datos

# int64 indica que los datos de la columna son enteros.
# object usualmente se refiere a cadenas de texto (strings) u otros tipos de datos heterogéneos.
#float64 indica que la columna contiene números con decimales (punto flotante).

df_cleaned['NOMBRE_DE_LA_ENTIDAD'] =df_cleaned['NOMBRE_DE_LA_ENTIDAD'].astype('string')
df_cleaned['DEPARTAMENTO'] =df_cleaned['DEPARTAMENTO'].astype('string')
df_cleaned['NRO_CTA_AHORRO_MUJERES'] =df_cleaned['NRO_CTA_AHORRO_MUJERES'].astype('int')
df_cleaned['NRO_CTA_AHORRO_HOMBRES'] =df_cleaned['NRO_CTA_AHORRO_HOMBRES'].astype('int')

In [107]:
print(df_cleaned.dtypes)

NOMBRE_DE_LA_ENTIDAD              string[python]
FECHA_DE_CORTE                            object
DEPARTAMENTO                      string[python]
NRO_CORRESPONSALES                         int64
NRO_DEPOSITOS                              int64
MONTO_DEPOSITOS                          float64
NRO_RETIROS                                int64
MONTO_RETIROS                            float64
NRO_CTA_AHORRO_ACTIVAS                     int64
SALDO_CTA_AHORRO_ACTIVAS                 float64
NRO_CTA_AHORRO_MUJERES                     int32
SALDO_CTA_AHORRO_MUJERES                 float64
NRO_CTA_AHORRO_HOMBRES                     int32
SALDO_CTA_AHORRO_HOMBRES                 float64
NRO_CREDITO_CONSUMO_MUJERES                int64
MONTO_CREDITO_CONSUMO_MUJERES            float64
NRO_CREDITO_CONSUMO_HOMBRES                int64
MONTO_CREDITO_CONSUMO_HOMBRES            float64
NRO_CREDITO_VIVIENDA_MUJERES               int64
MONTO_CREDITO_VIVIENDA_MUJERES           float64
NRO_CREDITO_VIVIENDA_HOMBRES               int64
MONTO_CREDITO_VIVIENDA_HOMBRES           float64
NRO_MICROCREDITO_MUJERES                   int64
MONTO_MICROCREDITO_MUJERES               float64
NRO_MICROCREDITO_HOMBRES                   int64
MONTO_MICROCREDITO_HOMBRES               float64
dtype: object

In [108]:
# El método to_datetime() intenta convertir todas las celdas de la columna FECHA_DE_CORTE en fechas. 

df_cleaned.FECHA_DE_CORTE = pd.to_datetime(df_cleaned.FECHA_DE_CORTE, format="%d/%m/%Y")

In [109]:
df_cleaned.FECHA_DE_CORTE.describe()

count                           603232
mean     2019-10-19 00:28:31.437059584
min                2017-12-31 00:00:00
25%                2018-12-31 00:00:00
50%                2019-12-31 00:00:00
75%                2020-09-30 00:00:00
max                2021-03-31 00:00:00
Name: FECHA_DE_CORTE, dtype: object

In [110]:
# Obtener los  valores únicos de la columna NOMBRE_DE_LA_ENTIDAD  en orden alfabético

sorted(df_cleaned.NOMBRE_DE_LA_ENTIDAD.unique())

['Arco Grupo Bancoldex',
 'Av Villas',
 'Aval Soluciones Digitales S.A. (En Lo Sucesivo - La "Sociedad")',
 'Banagrario',
 'Bancamía S.A.',
 'Banco Caja Social',
 'Banco Colpatria - "Scotiabank"',
 'Banco Credifinanciera S.A.',
 'Banco Davivienda',
 'Banco De Bogota',
 'Banco De Occidente',
 'Banco Falabella S.A.',
 'Banco Gnb Sudameris',
 'Banco Mundo Mujer S.A.',
 'Banco Pichincha S.A.',
 'Banco Popular',
 'Banco Santander',
 'Banco Serfinanza S.A.',
 'Banco W S.A.',
 'Bancolombia',
 'Bancoomeva',
 'Bbva Colombia',
 'Bnp Paribas',
 'C.A. Credifinanciera Cf',
 'Citibank',
 'Coink S.A.',
 'Coltefinanciera',
 'Confiar Cooperativa Financiera',
 'Coofinep Cooperativa Financiera',
 'Coopcentral',
 'Cooperativa Financiera De Antioquia',
 'Corficolombiana S.A.',
 'Cotrafa Financiera',
 'Credifamilia',
 'Crezcamos (En Lo Sucesivo - La "Sociedad")',
 'Financiera Dann Regional',
 'Financiera Juriscoop C.F.',
 'Financiera Pagos Internacionales S.A. Compa\ue168a De Financiamiento',
 'Finandina',
 'Giros & Finanzas C.F.',
 'Gm Financial Colombia S.A. Compañía De Financiamiento',
 'Itau',
 'Jfk Cooperativa Financiera',
 'La Hipotecaria',
 'Leasing Corficolombiana',
 'Mibanco S.A.',
 'Movii S.A.',
 'Multibank',
 'Pgde',
 'Rci Colombia S.A.',
 'Serfinansa',
 'Tecnipagos S.A.',
 'Tuya']

In [111]:
# ajustar los nombres de la columna NOMBRE_DE_LA_ENTIDAD 

df_cleaned.NOMBRE_DE_LA_ENTIDAD = df_cleaned.NOMBRE_DE_LA_ENTIDAD.replace("BancamÃ­a S.A.", "Bancamia S.A.")
df_cleaned.NOMBRE_DE_LA_ENTIDAD = df_cleaned.NOMBRE_DE_LA_ENTIDAD.replace("Banco Colpatria - Scotiabank","Banco Colpatria")
df_cleaned.NOMBRE_DE_LA_ENTIDAD = df_cleaned.NOMBRE_DE_LA_ENTIDAD.replace("C.A. Credifinanciera Cf","Credifinanciera")
df_cleaned.NOMBRE_DE_LA_ENTIDAD = df_cleaned.NOMBRE_DE_LA_ENTIDAD.replace("Crezcamos (En Lo Sucesivo - La Sociedad","Crezcamos")
df_cleaned.NOMBRE_DE_LA_ENTIDAD = df_cleaned.NOMBRE_DE_LA_ENTIDAD.replace("Financiera Pagos Internacionales S.A. Compaî…¨a De Financiamiento","Financiera Pagos Internacionales S.A.")
df_cleaned.NOMBRE_DE_LA_ENTIDAD = df_cleaned.NOMBRE_DE_LA_ENTIDAD.replace("Gm Financial Colombia S.A. CompaÃ±Ã­a De Financiamiento","Gm Financial Colombia S.A")

In [112]:
# Obtener los nuevos valores únicos de la columna NOMBRE_DE_LA_ENTIDAD 

sorted(df_cleaned.NOMBRE_DE_LA_ENTIDAD .unique())

['Arco Grupo Bancoldex',
 'Av Villas',
 'Aval Soluciones Digitales S.A. (En Lo Sucesivo - La "Sociedad")',
 'Banagrario',
 'Bancamía S.A.',
 'Banco Caja Social',
 'Banco Colpatria - "Scotiabank"',
 'Banco Credifinanciera S.A.',
 'Banco Davivienda',
 'Banco De Bogota',
 'Banco De Occidente',
 'Banco Falabella S.A.',
 'Banco Gnb Sudameris',
 'Banco Mundo Mujer S.A.',
 'Banco Pichincha S.A.',
 'Banco Popular',
 'Banco Santander',
 'Banco Serfinanza S.A.',
 'Banco W S.A.',
 'Bancolombia',
 'Bancoomeva',
 'Bbva Colombia',
 'Bnp Paribas',
 'Citibank',
 'Coink S.A.',
 'Coltefinanciera',
 'Confiar Cooperativa Financiera',
 'Coofinep Cooperativa Financiera',
 'Coopcentral',
 'Cooperativa Financiera De Antioquia',
 'Corficolombiana S.A.',
 'Cotrafa Financiera',
 'Credifamilia',
 'Credifinanciera',
 'Crezcamos (En Lo Sucesivo - La "Sociedad")',
 'Financiera Dann Regional',
 'Financiera Juriscoop C.F.',
 'Financiera Pagos Internacionales S.A. Compa\ue168a De Financiamiento',
 'Finandina',
 'Giros & Finanzas C.F.',
 'Gm Financial Colombia S.A. Compañía De Financiamiento',
 'Itau',
 'Jfk Cooperativa Financiera',
 'La Hipotecaria',
 'Leasing Corficolombiana',
 'Mibanco S.A.',
 'Movii S.A.',
 'Multibank',
 'Pgde',
 'Rci Colombia S.A.',
 'Serfinansa',
 'Tecnipagos S.A.',
 'Tuya']

In [113]:
# ajustar los nombres de la columna DEPARTAMENTO

df_cleaned.DEPARTAMENTO= df_cleaned.DEPARTAMENTO.replace("NARIï¾‘O","NARINO")
df_cleaned.DEPARTAMENTO= df_cleaned.DEPARTAMENTO.replace("NARIÃ‘O","NARINO")
df_cleaned.DEPARTAMENTO= df_cleaned.DEPARTAMENTO.replace("TOTAL NACIONAL","BOGOTA")
df_cleaned.DEPARTAMENTO= df_cleaned.DEPARTAMENTO.replace("CORRESPONSALES TIPO NEGOCIO","ATLANTICO")
df_cleaned.DEPARTAMENTO= df_cleaned.DEPARTAMENTO.replace("AGREGADORES DE CORRESPONSALES","CALDAS")
df_cleaned.DEPARTAMENTO= df_cleaned.DEPARTAMENTO.replace("DEPOSITOS DINERO ELECTRONICO","BOGOTA")
df_cleaned.DEPARTAMENTO= df_cleaned.DEPARTAMENTO.replace("DEPOSITOS DINERO ELECT TRAMITE SIMPLIFI","BOYACA")
df_cleaned.DEPARTAMENTO= df_cleaned.DEPARTAMENTO.replace("CUENTAS DE AHORRO","CUNDINAMARCA")
df_cleaned.DEPARTAMENTO= df_cleaned.DEPARTAMENTO.replace("CUENTAS DE AHORRO TRAMITE SIMPLIFICADO","CAQUETA")
df_cleaned.DEPARTAMENTO= df_cleaned.DEPARTAMENTO.replace("CUENTAS DE AHORRO ELECTRONICAS","CAUCA")

In [115]:
df_cleaned.DEPARTAMENTO= df_cleaned.DEPARTAMENTO.replace("NARIﾑO","NARINO")
df_cleaned.DEPARTAMENTO= df_cleaned.DEPARTAMENTO.replace("NARIÑO","NARINO")

In [116]:
sorted(df_cleaned.DEPARTAMENTO .unique())

['AMAZONAS',
 'ANTIOQUIA',
 'ARAUCA',
 'ATLANTICO',
 'BOGOTA',
 'BOLIVAR',
 'BOYACA',
 'CALDAS',
 'CAQUETA',
 'CASANARE',
 'CAUCA',
 'CESAR',
 'CHOCO',
 'CORDOBA',
 'CUNDINAMARCA',
 'GUAINIA',
 'GUAVIARE',
 'HUILA',
 'LA GUAJIRA',
 'MAGDALENA',
 'META',
 'NARINO',
 'NORTE DE SANTANDER',
 'PUTUMAYO',
 'QUINDIO',
 'RISARALDA',
 'SAN ANDRES,PROV Y SANTA CATALINA',
 'SANTANDER',
 'SUCRE',
 'TOLIMA',
 'VALLE DEL CAUCA',
 'VAUPES',
 'VICHADA']

In [ ]:
# Descripción de la columna la utilizamos para mirar los valores unicos de DEPARTAMENTO

df_cleaned.DEPARTAMENTO.describe()

count        603232
unique           33
top       ANTIOQUIA
freq          74620
Name: DEPARTAMENTO, dtype: object

In [118]:
df_cleaned.shape

(603232, 26)

In [132]:
# muestra los primeros 10 Registros
df_cleaned.head(10)

,NOMBRE_DE_LA_ENTIDAD,FECHA_DE_CORTE,DEPARTAMENTO,NRO_CORRESPONSALES,NRO_DEPOSITOS,MONTO_DEPOSITOS,NRO_RETIROS,MONTO_RETIROS,NRO_CTA_AHORRO_ACTIVAS,SALDO_CTA_AHORRO_ACTIVAS,...,NRO_CREDITO_CONSUMO_HOMBRES,MONTO_CREDITO_CONSUMO_HOMBRES,NRO_CREDITO_VIVIENDA_MUJERES,MONTO_CREDITO_VIVIENDA_MUJERES,NRO_CREDITO_VIVIENDA_HOMBRES,MONTO_CREDITO_VIVIENDA_HOMBRES,NRO_MICROCREDITO_MUJERES,MONTO_MICROCREDITO_MUJERES,NRO_MICROCREDITO_HOMBRES,MONTO_MICROCREDITO_HOMBRES
0,Banco Davivienda,2017-12-31,ANTIOQUIA,0,0,0,6,"1,090,000",0,0,...,0,0,0,0,0,0,0,0,0,0
1,Citibank,2017-12-31,ANTIOQUIA,0,42,"24,754,374",0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Banco De Bogota,2017-12-31,ANTIOQUIA,0,0,0,0,0,0,0,...,0,0,11,"1,274,566,517",11,"1,001,171,364",0,0,0,0
3,Coopcentral,2017-12-31,ANTIOQUIA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,"29,000,000"
4,Bancamía S.A.,2017-12-31,ANTIOQUIA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Banagrario,2017-12-31,ANTIOQUIA,0,0,0,0,0,1421,"2,300,920,699",...,0,0,0,0,0,0,0,0,0,0
6,"Banco Colpatria - ""Scotiabank""",2017-12-31,ANTIOQUIA,0,4,"1,379,500",0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Banco De Bogota,2017-12-31,ANTIOQUIA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Citibank,2017-12-31,ANTIOQUIA,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Banco Popular,2017-12-31,ANTIOQUIA,0,705,"1,427,457,077",959,"299,180,900",0,0,...,0,0,0,0,0,0,0,0,0,0

In [124]:
# muestra los ultimos 10 Registros

df_cleaned.tail(10)

,NOMBRE_DE_LA_ENTIDAD,FECHA_DE_CORTE,DEPARTAMENTO,NRO_CORRESPONSALES,NRO_DEPOSITOS,MONTO_DEPOSITOS,NRO_RETIROS,MONTO_RETIROS,NRO_CTA_AHORRO_ACTIVAS,SALDO_CTA_AHORRO_ACTIVAS,...,NRO_CREDITO_CONSUMO_HOMBRES,MONTO_CREDITO_CONSUMO_HOMBRES,NRO_CREDITO_VIVIENDA_MUJERES,MONTO_CREDITO_VIVIENDA_MUJERES,NRO_CREDITO_VIVIENDA_HOMBRES,MONTO_CREDITO_VIVIENDA_HOMBRES,NRO_MICROCREDITO_MUJERES,MONTO_MICROCREDITO_MUJERES,NRO_MICROCREDITO_HOMBRES,MONTO_MICROCREDITO_HOMBRES
603222,Banco De Bogota,2021-03-31,CAQUETA,0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
603223,Banagrario,2021-03-31,CAUCA,0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
603224,Av Villas,2021-03-31,CAUCA,0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
603225,Banagrario,2021-03-31,CAUCA,0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
603226,Av Villas,2021-03-31,CAUCA,0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
603227,Av Villas,2021-03-31,CAUCA,0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
603228,Banagrario,2021-03-31,CAUCA,0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
603229,Banagrario,2021-03-31,CAUCA,0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
603230,Banagrario,2021-03-31,CAUCA,0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
603231,Banagrario,2021-03-31,CAUCA,0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

In [ ]:
# muestra la información completa de la fila que necesite


df_cleaned.loc[308686]

NOMBRE_DE_LA_ENTIDAD                       Banagrario
FECHA_DE_CORTE                    2017-12-31 00:00:00
DEPARTAMENTO                               LA GUAJIRA
NRO_CORRESPONSALES                                  0
NRO_DEPOSITOS                                      12
MONTO_DEPOSITOS                             3970000.0
NRO_RETIROS                                         2
MONTO_RETIROS                                800000.0
NRO_CTA_AHORRO_ACTIVAS                              0
SALDO_CTA_AHORRO_ACTIVAS                          0.0
NRO_CTA_AHORRO_MUJERES                              0
SALDO_CTA_AHORRO_MUJERES                          0.0
NRO_CTA_AHORRO_HOMBRES                              0
SALDO_CTA_AHORRO_HOMBRES                          0.0
NRO_CREDITO_CONSUMO_MUJERES                         0
MONTO_CREDITO_CONSUMO_MUJERES                     0.0
NRO_CREDITO_CONSUMO_HOMBRES                         0
MONTO_CREDITO_CONSUMO_HOMBRES                     0.0
NRO_CREDITO_VIVIENDA_MUJERES                        0
MONTO_CREDITO_VIVIENDA_MUJERES                    0.0
NRO_CREDITO_VIVIENDA_HOMBRES                        0
MONTO_CREDITO_VIVIENDA_HOMBRES                    0.0
NRO_MICROCREDITO_MUJERES                            0
MONTO_MICROCREDITO_MUJERES                        0.0
NRO_MICROCREDITO_HOMBRES                            0
MONTO_MICROCREDITO_HOMBRES                        0.0
Name: 308686, dtype: object

In [140]:
# cambio formato notación cientifica.
pd.set_option('display.float_format', '{:,.0f}'.format)

In [128]:
# describe la información de la columna DEPARTAMENTO
df_cleaned.DEPARTAMENTO.describe()

count        603232
unique           33
top       ANTIOQUIA
freq          74620
Name: DEPARTAMENTO, dtype: object

In [139]:
# aqui saca la media, los cuartiles ect

df_cleaned.NRO_CTA_AHORRO_ACTIVAS.describe()

count     603,232
mean        1,707
std        52,605
min             0
25%             0
50%             0
75%             0
max     8,914,718
Name: NRO_CTA_AHORRO_ACTIVAS, dtype: float64

In [136]:
# media 

df_cleaned.NRO_CTA_AHORRO_ACTIVAS.mean()

1707.3246163996605

In [137]:
# Conteo

df_cleaned.NRO_CTA_AHORRO_ACTIVAS.count()

603232

In [138]:
# Desviación estandar

df_cleaned.NRO_CTA_AHORRO_ACTIVAS.std()

52605.4497081895

In [141]:
df_cleaned.NRO_CTA_AHORRO_MUJERES.describe()

count     603,232
mean        1,902
std        48,066
min             0
25%             0
50%             0
75%             0
max     5,526,402
Name: NRO_CTA_AHORRO_MUJERES, dtype: float64

In [143]:
# media 
df_cleaned.NRO_CTA_AHORRO_MUJERES.mean()

1902.22308995544

In [144]:

df_cleaned.NRO_CTA_AHORRO_MUJERES.count()

603232

In [145]:


df_cleaned.NRO_CTA_AHORRO_MUJERES.std()

48065.90462884569

In [146]:
df_cleaned.NRO_CTA_AHORRO_HOMBRES.describe()

count     603,232
mean        2,109
std        53,073
min             0
25%             0
50%             0
75%             0
max     5,627,082
Name: NRO_CTA_AHORRO_HOMBRES, dtype: float64

In [147]:
# media 
df_cleaned.NRO_CTA_AHORRO_HOMBRES.mean()

2108.675801350061

In [148]:
df_cleaned.NRO_CTA_AHORRO_HOMBRES.count()

603232

In [149]:
df_cleaned.NRO_CTA_AHORRO_HOMBRES.std()

53072.98364472241

In [150]:
df_cleaned.NRO_CREDITO_CONSUMO_MUJERES.describe()

count     603,232
mean          963
std        51,739
min             0
25%             0
50%             0
75%             0
max     7,493,971
Name: NRO_CREDITO_CONSUMO_MUJERES, dtype: float64

In [151]:
df_cleaned.NRO_CREDITO_CONSUMO_MUJERES.mean()

962.5604129091295

In [152]:
df_cleaned.NRO_CREDITO_CONSUMO_MUJERES.count()

603232

In [153]:
df_cleaned.NRO_CREDITO_CONSUMO_MUJERES.std()

51739.48100373089

In [154]:
df_cleaned.NRO_CREDITO_CONSUMO_HOMBRES.describe()

count     603,232
mean          968
std        52,620
min             0
25%             0
50%             0
75%             0
max     8,228,890
Name: NRO_CREDITO_CONSUMO_HOMBRES, dtype: float64

In [155]:
df_cleaned.NRO_CREDITO_CONSUMO_HOMBRES.mean()

968.2264916317437

In [156]:
df_cleaned.NRO_CREDITO_CONSUMO_HOMBRES.count()

603232

In [157]:
df_cleaned.NRO_CREDITO_CONSUMO_HOMBRES.std()

52620.10895377836

In [158]:
df_cleaned.NRO_CREDITO_VIVIENDA_MUJERES.describe()

count   603,232
mean          1
std          51
min           0
25%           0
50%           0
75%           0
max      10,966
Name: NRO_CREDITO_VIVIENDA_MUJERES, dtype: float64

In [159]:
df_cleaned.NRO_CREDITO_VIVIENDA_MUJERES.mean()

1.4549626014535038

In [160]:
df_cleaned.NRO_CREDITO_VIVIENDA_MUJERES.count()

603232

In [162]:
df_cleaned.NRO_CREDITO_VIVIENDA_MUJERES.std()

50.7959574764362

In [163]:
df_cleaned.NRO_CREDITO_VIVIENDA_HOMBRES.describe()

count   603,232
mean          2
std          54
min           0
25%           0
50%           0
75%           0
max      10,914
Name: NRO_CREDITO_VIVIENDA_HOMBRES, dtype: float64

In [164]:
df_cleaned.NRO_CREDITO_VIVIENDA_HOMBRES.mean()

1.613846745530741

In [165]:
df_cleaned.NRO_CREDITO_VIVIENDA_HOMBRES.count()

603232

In [166]:
df_cleaned.NRO_CREDITO_VIVIENDA_HOMBRES.std()

54.49981718766679

In [167]:
df_cleaned.NRO_MICROCREDITO_MUJERES.describe()

count   603,232
mean         15
std         497
min           0
25%           0
50%           0
75%           0
max      78,439
Name: NRO_MICROCREDITO_MUJERES, dtype: float64

In [168]:
df_cleaned.NRO_MICROCREDITO_MUJERES.mean()

14.792562397220307

In [169]:
df_cleaned.NRO_MICROCREDITO_MUJERES.count()

603232

In [170]:
df_cleaned.NRO_MICROCREDITO_MUJERES.std()

496.7952299515808

In [171]:
df_cleaned.NRO_MICROCREDITO_HOMBRES.describe()

count   603,232
mean         11
std         375
min           0
25%           0
50%           0
75%           0
max      62,082
Name: NRO_MICROCREDITO_HOMBRES, dtype: float64

In [172]:
df_cleaned.NRO_MICROCREDITO_HOMBRES.mean()

11.26573523950984

In [173]:
df_cleaned.NRO_MICROCREDITO_HOMBRES.count()

603232

In [174]:
df_cleaned.NRO_MICROCREDITO_HOMBRES.std()

375.0037621786745

In [175]:
# Guardar el DataFrame limpio en un archivo CSV
# index=False para no guardar los índices como una columna

df_cleaned.to_csv("Financiera.csv", index=False)